@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>tash</h2>

<table>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.Tash_No</td>
            <td>@item.Tash_Year</td>
            <td>@item.Text</td>
            <td><a href="/tash/Details/@item.ID">detilas</a></td>
        </tr>
    }
</table>