@{ 
    Layout = null;
}
<div class="col-lg-10 col-md-12">
    <form class="search-form form-horizontal" ng-submit="search()">
        <div class="form-group radio_buttons optional ">
            <label class="radio_buttons  col-sm-3  "> </label>
            <div class="col-sm-9">
                <span class="">
                    <label for="allElements">
                        <input type="radio" class="radio_buttons" ng-model="Inputs.ElementsTypeChoice" value="1" id="allElements" name="Elements" value="">
                        كل هذه العناصر مجتمعة
                    </label>
                </span>&nbsp;
                <label for="anyElements">
                    <input type="radio" class="radio_buttons"  ng-model="Inputs.ElementsTypeChoice"  value="2" id="anyElements" name="Elements">
                    أى من هذه العناصر
                </label>
            </div>
        </div>
        <div class="form-group  ">
            <label class="col-lg-3 col-sm-3 control-label bg-color title">
                <!--<abbr title="required">*</abbr>-->
                المبدأ :
            </label>
            <div class="col-sm-9 search">
                <div class="multiple-form-group input-group">
                    <c-searchType selected-value="Inputs.MabdaaSearchType"></c-searchType>
                    <input ng-model="Inputs.Mabdaa" type="text" class="form-control">
                </div>

            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 col-sm-3 control-label bg-color title">الوقائع : </label>
            <div class="col-sm-9 search">
                <div class="multiple-form-group input-group">
                    <c-searchType selected-value="Inputs.waka23SearchType"></c-searchType>
                    <input type="text" ng-model="Inputs.waka23"  class="form-control">
                </div>

            </div>

        </div>
        <div class="form-group">
            <label class=" col-lg-3 col-sm-3 control-label bg-color title">الدستورية :  </label>
            <div class="col-sm-9 search">
                <div class="multiple-form-group input-group">
                    <c-searchType selected-value="Inputs.dostoriaSearchType"></c-searchType>
                    <input type="text" ng-model="Inputs.dostoria"class="form-control">
                </div>

            </div>

        </div>
        <div class="form-group">
            <label class=" col-lg-3 col-sm-3 control-label bg-color title">أعضاء الهيئة : </label>
            <div class="col-sm-9 search">
                <div class="multiple-form-group input-group">
                    <c-searchType selected-value="Inputs.hay2aSearchType"></c-searchType>
                    <input type="text" ng-model="Inputs.hay2a" class="form-control">
                </div>

            </div>

        </div>
        <div class="form-group">
            <label class="col-lg-3 col-sm-3 control-label bg-color title">منطوق الحكم : </label>
            <div class="col-sm-9 search">
                <div class="multiple-form-group input-group">
                    <c-searchType selected-value="Inputs.mantoaaSearchType"></c-searchType>
                    <input type="text"  ng-model="Inputs.mantoaa" class="form-control">
                </div>

            </div>

        </div>
        <div class="form-group">
            <label class=" col-lg-3 col-sm-3 control-label bg-color title">حيثيات الحكم :  </label>
            <div class="col-sm-9 search">
                <div class="multiple-form-group input-group">
                    <c-searchType selected-value="Inputs.hyseytSearchType"></c-searchType>
                    <input type="text" ng-model="Inputs.hyseyt" class="form-control">
                </div>

            </div>

        </div>
        <div class="form-group   ">
            <label class="col-lg-3 col-md-3 col-sm-3 "> </label>
            <div class="col-sm-9">
                <input  type="submit" class="btn butt-yellow"  value="بـحـث">
            </div>
        </div>
    </form>
</div>
<hr class="spacer" />