@{ 
    Layout = null;
}
<div class="col-lg-10 col-md-12">
    <div class="search-form form-horizontal">
        <div class="form-group radio_buttons optional ">
            <label class="radio_buttons  col-sm-3  "> </label>
            <div class="col-sm-9">
                <span class="">
                    <label for="user_horizontal_sex_male checkbox-inline">
                        <input type="radio" class="radio_buttons " id="" name="" value="">
                        كل هذه العناصر مجتمعة
                    </label>
                </span>&nbsp;
                <label for="user_horizontal_sex_male checkbox-inline">
                    <input type="radio" class="radio_buttons " id="" name="" value="">
                    كل هذه العناصر مجتمعة أى من هذه العناصر
                </label>
            </div>
        </div>
        <div class="form-group  ">
            <label class="col-lg-3 col-sm-3 control-label bg-color title">
                <!--<abbr title="required">*</abbr>-->
                المبدأ :
            </label>
            <div class="col-sm-9 search">
                <div class="multiple-form-group input-group">
                    <div class="input-group-btn input-group-select">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span class="concept">مطابق للجملة</span> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#sentence">مطابق للجملة</a></li>
                            <li><a href="#alltext">مطابق جميع الكلمات</a></li>

                        </ul>
                        <input type="hidden" class="input-group-select-val" name="contacts['type'][]" value="مطابق للجملة">
                    </div>
                    <input type="text" name="contacts['value'][]" class="form-control">
                </div>

            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 col-sm-3 control-label bg-color title">الوقائع : </label>
            <div class="col-sm-9 search">
                <div class="multiple-form-group input-group">
                    <div class="input-group-btn input-group-select">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span class="concept">مطابق للجملة</span> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#sentence">مطابق للجملة</a></li>
                            <li><a href="#alltext">مطابق جميع الكلمات</a></li>

                        </ul>
                        <input type="hidden" class="input-group-select-val" name="contacts['type'][]" value="مطابق للجملة">
                    </div>
                    <input type="text" name="contacts['value'][]" class="form-control">
                </div>

            </div>

        </div>
        <div class="form-group">
            <label class=" col-lg-3 col-sm-3 control-label bg-color title">الدستورية :  </label>
            <div class="col-sm-9 search">
                <div class="multiple-form-group input-group">
                    <div class="input-group-btn input-group-select">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span class="concept">مطابق للجملة</span> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#sentence">مطابق للجملة</a></li>
                            <li><a href="#alltext">مطابق جميع الكلمات</a></li>

                        </ul>
                        <input type="hidden" class="input-group-select-val" name="contacts['type'][]" value="مطابق للجملة">
                    </div>
                    <input type="text" name="contacts['value'][]" class="form-control">
                </div>

            </div>

        </div>
        <div class="form-group">
            <label class=" col-lg-3 col-sm-3 control-label bg-color title">أعضاء الهيئة : </label>
            <div class="col-sm-9 search">
                <div class="multiple-form-group input-group">
                    <div class="input-group-btn input-group-select">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span class="concept">مطابق للجملة</span> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#sentence">مطابق للجملة</a></li>
                            <li><a href="#alltext">مطابق جميع الكلمات</a></li>

                        </ul>
                        <input type="hidden" class="input-group-select-val" name="contacts['type'][]" value="مطابق للجملة">
                    </div>
                    <input type="text" name="contacts['value'][]" class="form-control">
                </div>

            </div>

        </div>
        <div class="form-group">
            <label class=" col-lg-3 col-sm-3 control-label bg-color title">منطوق الحكم : </label>
            <div class="col-sm-9 search">
                <div class="multiple-form-group input-group">
                    <div class="input-group-btn input-group-select">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span class="concept">مطابق للجملة</span> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#sentence">مطابق للجملة</a></li>
                            <li><a href="#alltext">مطابق جميع الكلمات</a></li>

                        </ul>
                        <input type="hidden" class="input-group-select-val" name="contacts['type'][]" value="مطابق للجملة">
                    </div>
                    <input type="text" name="contacts['value'][]" class="form-control">
                </div>

            </div>

        </div>
        <div class="form-group">
            <label class=" col-lg-3 col-sm-3 control-label bg-color title">حيثيات الحكم :  </label>
            <div class="col-sm-9 search">
                <div class="multiple-form-group input-group">
                    <div class="input-group-btn input-group-select">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span class="concept">مطابق للجملة</span> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#sentence">مطابق للجملة</a></li>
                            <li><a href="#alltext">مطابق جميع الكلمات</a></li>

                        </ul>
                        <input type="hidden" class="input-group-select-val" name="contacts['type'][]" value="مطابق للجملة">
                    </div>
                    <input type="text" name="contacts['value'][]" class="form-control">
                </div>

            </div>

        </div>
        <div class="form-group   ">
            <label class="col-lg-3 col-md-3 col-sm-3 "> </label>
            <div class="col-sm-9">
                <input type="submit" class="btn butt-yellow" name="commit" value="بـحـث">
            </div>
        </div>
    </div>
</div>
<hr class="spacer" />