@{
    Layout = null;
}
<div class="col-lg-12 col-md-12">
    <form class="search-form form-horizontal " ng-submit="search()">
        <div class="form-group">
            <div class="col-lg-6 col-md-12 col-side">
                <label class="col-lg-3 col-md-3 col-sm-3 control-label bg-color title">
                    كافه النصوص :
                </label>
                <div class="col-lg-9 col-md-9 col-sm-9 search">
                    <c-drop-match-search selected-value="Inputs.alltextSearchType" input-text="Inputs.Alltext"></c-drop-match-search>
                </div>
            </div>
            <hr class="spacer" />
            <div class="col-lg-6 col-side">
                <label for="horizontal_search" class="col-lg-3 col-md-3 col-sm-3 control-label bg-color title"> اختار الدولة :</label>
                <div class="col-lg-9 col-md-9 col-sm-9 search">
                    <select tabindex="3" class="string search  form-control" id="ddlCountries" name="d"
                            ng-options="t.Name for t in countries track by t.ID" ng-model="country" ng-change="updatecountry()"></select>
                </div>  <!--End Country-->
                <hr class="spacer" />
                <!-- Multi Checkbox-->
                <div ng-if="Mahakem.length>0" class="form-group multi-check">
                    <label class="col-lg-3 col-md-3 col-sm-3 control-label bg-color title">اختيار المحكمة</label>

                    <div class="col-lg-9 col-md-9 col-sm-9 search ">
                        <div class="checkbox">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" ng-repeat="n in Mahakem">
                                <label><input type="checkbox" ng-click='MahakemCheck(n.ID,$event)' />{{n.Name}} </label>
                            </div><hr class="spacer" />
                        </div>

                    </div>

                </div>


                <label class="col-lg-3 col-md-3 col-sm-3 control-label bg-color title">
                    المبدأ :
                </label>
                <div class="col-lg-9 col-md-9 col-sm-9 search">
                    <c-drop-match-search selected-value="Inputs.MabdaaSearchType" input-text="Inputs.Mabdaa"></c-drop-match-search>
                </div>


                <label class="col-lg-3 col-md-3 col-sm-3 control-label bg-color title">الوقائع : </label>
                <div class="col-lg-9 col-md-9 col-sm-9 search">
                    <c-drop-match-search selected-value="Inputs.waka23SearchType" input-text="Inputs.waka23"></c-drop-match-search>
                </div>


                <label class="col-lg-3 col-md-3 col-sm-3 control-label bg-color title">أعضاء الهيئة : </label>
                <div class="col-lg-9 col-md-9 col-sm-9 search">
                    <c-drop-match-search selected-value="Inputs.hay2aSearchType" input-text="Inputs.hay2a"></c-drop-match-search>
                </div>


                <label class="col-lg-3 col-md-3 col-sm-3 control-label bg-color title">حيثيات الحكم :  </label>
                <div class="col-lg-9 col-md-9 col-sm-9 search">
                    <c-drop-match-search selected-value="Inputs.hyseytSearchType" input-text="Inputs.hyseyt"></c-drop-match-search>
                </div>


            </div>
            <div class="col-lg-6  col-side ">
                <label for="horizontal_search" class="col-lg-3 col-md-3 col-sm-3 control-label bg-color title">  سنة المكتب فنى : </label>
                <div class="col-lg-3 col-md-3 col-sm-3 col-sm-2 search">
                    <input type="text" class="form-control" ng-model="Inputs.officeYear">
                </div>
                <label for="horizontal_search" class="col-lg-3 col-md-3 col-sm-3 control-label bg-color title">  مجموعة عمر : <input type="checkbox" ng-model="omarGroup" ng-click="omarGroupChecked($event)"></label>
                <div class="col-lg-3 col-md-3 col-sm-3 search checkbox">

                </div>
                <hr class="spacer" />
                <label for="horizontal_search" class="col-lg-3 col-md-3 col-sm-3 control-label bg-color title">  رقم الطعن : </label>
                <div class="col-lg-3 col-md-3 col-sm-3 search">
                    <input type="text" ng-model="Inputs.caseNo" class="form-control">
                </div>
                <label class="col-lg-3 col-md-3 col-sm-3 control-label bg-color title" for="horizontal_search">السنة القضائية :  </label>
                <div class="col-lg-3 col-md-3 col-sm-3 search">
                    <input type="text" ng-model="Inputs.caseYear" class="form-control">
                </div>
                <hr class="spacer" />
                <label for="horizontal_search" class="col-lg-3 col-md-3 col-sm-3 control-label bg-color title"> بيان قبول الطعن  :</label>
                <div class="col-lg-3 col-md-3 col-sm-3 search">
                    <select tabindex="3" class="string search  form-control"
                            ng-options="t.Name for t in MahkamaReplies track by t.ID" ng-model="MahkamaReplay" ng-change="updateMahkamaReplies()"></select>

                </div>



                <hr class="spacer" />
                <label for="horizontal_search" class="col-lg-3 col-md-3 col-sm-3 control-label bg-color title"> رقم الجزء :</label>
                <div class="col-lg-3 col-md-3 col-sm-3 search">
                    <input type="text" ng-model="Inputs.partNo" class="string search  form-control">
                </div>

                <label for="horizontal_search" class="col-lg-3 col-md-3 col-sm-3 control-label bg-color title"> رقم الصفحة : </label>
                <div class="col-lg-3 col-md-3 col-sm-3 search">
                    <input type="text" ng-model="Inputs.pageNo" class="string search  form-control">
                </div>
                <hr class="spacer" />


            </div>


            <div class="col-lg-6  col-side">
                <label for="horizontal_search" class="col-lg-3 col-md-3 col-sm-3 control-label bg-color title"> تاريخ الجلسة من :</label>
                <div class="col-lg-3 col-md-3   search">
                    <c-date-picker date="Inputs.dateGalsaFrom"></c-date-picker>
                </div>

                <label for="horizontal_search" class="col-lg-3 col-md-3 col-sm-3 control-label bg-color title"> إلى: </label>

                <div class="col-lg-3 col-md-3   search">
                    <c-date-picker date="Inputs.dateGalsaTo"></c-date-picker>
                </div>


            </div>
            <hr class="spacer" />
            <div class="col-lg-6 col-side ">

                <hr class="spacer" />
                <label class="col-lg-3 col-md-3 col-sm-3 control-label bg-color title"> </label>
                <div class="col-sm-9 search">
                    <input type="submit" class="btn butt-yellow" value="بـحـث">
                </div>
            </div>

        </div>



    </form>
</div>
<hr class="spacer" />
