@{
    Layout = null;
}
<div class="col-lg-10 col-md-12">
    <form class="search-form form-horizontal" name="form" ng-submit="search()" novalidate>

        <div class="form-group radio_buttons optional ">
            <label class="radio_buttons  col-sm-3  "> </label>
            <div class="col-sm-9">
                <span class="">
                    <label for="user_horizontal_sex_male checkbox-inline">
                        <input type="radio" value="" name="" id="" class="radio_buttons ">
                        مطابق للجملة
                    </label>
                </span>&nbsp;
                <label for="user_horizontal_sex_male checkbox-inline">
                    <input type="radio" value="" name="" id="" class="radio_buttons ">
                    مطابق لجميع الكلمات
                </label>
            </div>
        </div>
        <div class="form-group   ">
            <label for="horizontal_search" class=" col-lg-3 col-sm-3 control-label bg-color title">
                <!--<abbr title="required">*</abbr>-->
                بحث فى نص الحكم :
            </label>
            <div class="col-sm-9 search">
                <input type="text" placeholder="كلمة البحث" name="horizontal[search]" id="horizontal_search" class="string search  form-control">
                <!--     <p class="help-block">Lorem ipsum dolor sit amet</p>-->
            </div>

        </div>
        <hr class="spacer" />

        <div class="form-group   ">
            <label for="horizontal_search" class="col-lg-3 col-md-3 col-sm-3 control-label bg-color title"> اختار الدولة :</label>
            <div class="col-md-4 col-sm-4 search">
                <select tabindex="3" class="string search  form-control" id="ddlCountries" name="d">
                    <option selected="selected" value="1">جمهورية مصر العربية</option>
                    <option value="2">المملكة الأردنية الهاشمية</option>
                    <option value="3">الجمهورية اليمنية</option>
                    <option value="4">دولة الإمارات العربية المتحدة</option>
                    <option value="20">إمارة أبوظبي</option>
                    <option value="21">إمارة رأس الخيمة</option>
                    <option value="619">إمارة عجمان</option>
                    <option value="620">إمارة الشارقة</option>
                    <option value="1005">إمارة الفجيرة</option>
                    <option value="8">حكومة دبي</option>
                    <option value="5">دولة الكويت</option>
                    <option value="6">مملكة البحرين</option>
                    <option value="7">دولة قطر</option>
                    <option value="9">المملكة العربية السعودية</option>
                    <option value="10">سلطنة عمان</option>
                    <option value="11">دولة ليبيا</option>
                    <option value="12">الجمهورية التونسية</option>
                    <option value="13">المملكة المغربية</option>
                    <option value="14">جمهورية السودان</option>
                    <option value="15">الجمهورية العربية السورية</option>
                    <option value="16">جمهورية العراق</option>
                    <option value="17">دولة فلسطين</option>
                    <option value="18">الجمهورية الجزائرية</option>
                    <option value="19">الجمهورية اللبنانية</option>
                    <option value="1007">إمارة أم القيوين</option>
                </select>
            </div>
            <div class="col-md-5 col-sm-12">

                <label for="horizontal_search" class="col-lg-5 col-md-5 col-sm-3 control-label bg-color title">اختيار المحكمة :</label>
                <div class="col-md-7 col-sm-9" style="padding-left:0px; padding-right:0px;">
                    <select tabindex="3" class="string search  form-control" id="ddlCountries" name="d">
                        <option selected="selected" value="1"> المحكمة الإتحادية العليا - الأحكام الجزائية</option>
                    </select>
                </div>
            </div>
        </div>

        <hr class="spacer" />
        <div class="form-group  ">
            <label class="col-sm-3 control-label bg-color title">
                <!--<abbr title="required">*</abbr>-->
                المبدأ :
            </label>
            <div class=" col-sm-9 search">
                <div class="multiple-form-group input-group">
                    <div class="input-group-btn input-group-select">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span class="concept">مطابق للجملة</span> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#sentence">مطابق للجملة</a></li>
                            <li><a href="#alltext">مطابق جميع الكلمات</a></li>
                        </ul>
                        <input type="hidden" class="input-group-select-val" name="contacts['type'][]" value="مطابق للجملة">
                    </div>
                    <input type="text" name="contacts['value'][]" class="form-control">
                </div>
            </div>

        </div>
        <div class="form-group ">
            <label class="col-sm-3 control-label bg-color title">الوقائع : </label>
            <div class="col-sm-9 search">
                <div class="multiple-form-group input-group">
                    <div class="input-group-btn input-group-select">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span class="concept">مطابق للجملة</span> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#sentence">مطابق للجملة</a></li>
                            <li><a href="#alltext">مطابق جميع الكلمات</a></li>
                        </ul>
                        <input type="hidden" class="input-group-select-val" name="contacts['type'][]" value="مطابق للجملة">
                    </div>
                    <input type="text" name="contacts['value'][]" class="form-control">
                </div>
            </div>
        </div>
        <hr class="spacer" />
        <div class="form-group">
            <label class="col-lg-3 col-sm-3 control-label bg-color title">أعضاء الهيئة : </label>
            <div class="col-sm-9 search">
                <div class="multiple-form-group input-group">
                    <div class="input-group-btn input-group-select">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span class="concept">مطابق للجملة</span> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#sentence">مطابق للجملة</a></li>
                            <li><a href="#alltext">مطابق جميع الكلمات</a></li>
                        </ul>
                        <input type="hidden" class="input-group-select-val" name="contacts['type'][]" value="مطابق للجملة">
                    </div>
                    <input type="text" name="contacts['value'][]" class="form-control">
                </div>
            </div>

        </div>
        <hr class="spacer" />
        <div class="form-group">
            <label class="col-lg-3 col-sm-3 control-label bg-color title">حيثيات الحكم :  </label>
            <div class="col-sm-9 search">
                <div class="multiple-form-group input-group">
                    <div class="input-group-btn input-group-select">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span class="concept">مطابق للجملة</span> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#sentence">مطابق للجملة</a></li>
                            <li><a href="#alltext">مطابق جميع الكلمات</a></li>
                        </ul>
                        <input type="hidden" class="input-group-select-val" name="contacts['type'][]" value="مطابق للجملة">
                    </div>
                    <input type="text" name="contacts['value'][]" class="form-control">
                </div>
            </div>
        </div>
        <hr class="spacer" />
        <div class="form-group   ">
            <label for="horizontal_search" class="col-lg-3 col-md-3 col-sm-3 control-label bg-color title">  السنة القضائية : </label>
            <div class="col-md-4 col-sm-4 search">

                <div class="input-group " data-provide="datepicker">
                    <input type="text" class="form-control">
                    <div class="input-group-addon"> <span class="glyphicon glyphicon-th"></span> </div>
                </div>

            </div>
            <div class="col-md-5 col-sm-5">
                <label for="horizontal_search" class="col-lg-5 col-md-5 col-sm-6 control-label bg-color title"> رقم الصفحة : </label>
                <div class="col-md-7 col-sm-6" style="padding-left:0px; padding-right:0px;">
                    <input type="text" placeholder="" name="horizontal[search]" id="horizontal_search" class="string search  form-control">
                </div>
            </div>
        </div>
        <hr class="spacer" />
        <div class="form-group   ">
            <label for="horizontal_search" class=" col-lg-3 col-md-3 col-sm-3 control-label bg-color title">  سنة المكتب فنى : </label>
            <div class="col-md-4 col-sm-4 search">
                <div class="input-group " data-provide="datepicker">
                    <input type="text" class="form-control">
                    <div class="input-group-addon"> <span class="glyphicon glyphicon-th"></span> </div>
                </div>
            </div>
            <div class="col-md-5 col-sm-5">
                <label for="horizontal_search" class="col-lg-5 col-md-5 col-sm-6 control-label bg-color title"> رقم الجزء :</label>
                <div class="col-md-7 col-sm-6" style="padding-left:0px; padding-right:0px;">
                    <input type="text" placeholder="" name="horizontal[search]" id="horizontal_search" class="string search  form-control">
                </div>
            </div>
        </div>
        <div class="form-group   ">
            <label for="horizontal_search" class="col-lg-3 col-md-3 col-sm-3 control-label bg-color title"> بيان قبول الطعن  :</label>
            <div class="col-md-4 col-sm-4 search">
                <select tabindex="3" class="string search  form-control" id="" name="">
                    <option selected="selected" value="">الكل</option>
                    <option value="732398">مرفوض</option>
                    <option value="732399">مقبول</option>
                </select>

            </div>
            <div class="col-md-5 col-sm-5">
                <label for="horizontal_search" class="col-lg-5 col-md-5 col-sm-6 control-label bg-color title">  مجموعة عمر : </label>
                <div class="col-md-7 col-sm-6" style=" padding-left:0px; padding-right:0px;padding-top:7px;">
                    <input type="checkbox" id="" value="" checked="">
                </div>
            </div>
        </div>

        <hr class="spacer" />
        <div class="form-group   ">
            <label for="horizontal_search" class="col-lg-3 col-md-3 col-sm-3 control-label bg-color title">تاريخ الجلسة من :</label>
            <div class="col-md-4 col-sm-4 search">
                <div class="input-group " data-provide="datepicker">
                    <input type="text" class="form-control">
                    <div class="input-group-addon"> <span class="glyphicon glyphicon-th"></span> </div>
                </div>
            </div>
            <div class="col-md-5 col-sm-5">
                <label for="horizontal_search" class="col-lg-5 col-md-5 col-sm-6 control-label bg-color title"> إلى: </label>
                <div class="col-md-7 col-sm-6" style=" padding-left:0px; padding-right:0px;">
                    <div class="input-group " data-provide="datepicker">
                        <input type="text" class="form-control">
                        <div class="input-group-addon"> <span class="glyphicon glyphicon-th"></span> </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label bg-color title">إعادة بحث سابق</label>
            <div class="col-sm-9 search">
                <select name="" class="string search  form-control">
                    <option value="#" selected>جمهورية مصر العربية جمهورية مصر العربية - قرار وزير الأشغال رقم 11111 لسنة</option>
                </select>

            </div>
        </div>
        <div class="form-group   ">
            <label class="col-lg-3 col-md-3 col-sm-3 "> </label>
            <div class="col-sm-9">
                <input type="submit" value=" بـحـث" name="commit" class="btn butt-yellow">
            </div>
        </div>




    </form>
</div>
<hr class="spacer" />