@{
    Layout = null;
}
<div class="col-lg-10 col-md-12">
    <form class="search-form form-horizontal" ng-submit="search()">

        <div class="form-group  ">
            <label class="col-lg-3 col-sm-3 control-label bg-color title">
                المبدأ :
            </label>
            <div class="col-sm-9 search">
                <c-drop-match-search selected-value="Inputs.MabdaaSearchType" input-text="Inputs.Mabdaa"></c-drop-match-search>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 col-sm-3 control-label bg-color title">الوقائع : </label>
            <div class="col-sm-9 search">
                <c-drop-match-search selected-value="Inputs.waka23SearchType" input-text="Inputs.waka23"></c-drop-match-search>
            </div>

        </div>
        <div class="form-group">
            <label class="col-lg-3 col-sm-3 control-label bg-color title">الدستورية :  </label>
            <div class="col-sm-9 search">
                <c-drop-match-search selected-value="Inputs.dostoriaSearchType" input-text="Inputs.dostoria"></c-drop-match-search>
            </div>

        </div>
        <div class="form-group">
            <label class="col-lg-3 col-sm-3 control-label bg-color title">أعضاء الهيئة : </label>
            <div class="col-sm-9 search">
                <c-drop-match-search selected-value="Inputs.hay2aSearchType" input-text="Inputs.hay2a"></c-drop-match-search>
            </div>

        </div>
        <div class="form-group">
            <label class="col-lg-3 col-sm-3 control-label bg-color title">منطوق الحكم : </label>
            <div class="col-sm-9 search">
                <c-drop-match-search selected-value="Inputs.mantoaaSearchType" input-text="Inputs.mantoaa"></c-drop-match-search>
            </div>

        </div>
        <div class="form-group">
            <label class="col-lg-3 col-sm-3 control-label bg-color title">حيثيات الحكم :  </label>
            <div class="col-sm-9 search">
                <c-drop-match-search selected-value="Inputs.hyseytSearchType" input-text="Inputs.hyseyt"></c-drop-match-search>
            </div>

        </div>






        <div class="form-group   ">
            <label class="col-lg-3 col-md-3 col-sm-3 "> </label>
            <div class="col-sm-9">
                <input type="submit" class="btn butt-yellow" value="بـحـث">
            </div>
        </div>
    </form>
</div>
<hr class="spacer" />
