<div class="inner-tab">

    <hr class="spacer" />
    <div class="tabbable tabs-right">
        <ul class="nav nav-tabs">

            <li ng-repeat="n in fehressPrograms">
                    <a href="#defoaTab" data-toggle="tab" ng-click="serviceProg(n)">{{n.Name}}</a>
            </li>
             @*<li class="active"><a href="#GeneralTab" data-toggle="tab">الفهرس العام</a></li>
            <li><a href="#defoaTab" data-toggle="tab">بحث بالدفوع </a></li>
            <li><a href="#manaeTab" data-toggle="tab">بحث بالمناعي</a></li>
            <li><a href="#systemTab" data-toggle="tab">النظام العام</a></li>*@
        </ul>
        <div class="tab-content">
           <div class="input-group">
               <div class="select-option form-group">
                   <form class="search-form form-inline search" role="form">

                
                           <label class="control-label bg-color title" for="ddlCountriesSearch">اختر الدولة :</label>&nbsp;

                       <select tabindex="3" 
                               class="string form-control" 
                               id="ddlCountriesSearch" 
                               name="d"
                               ng-options="t.Name for t in countries track by t.ID" 
                               ng-model="country" 
                               ng-change="getCourt()">
                  
                       </select>

                               @*<select name="d" id="ddlCountriesSearch" class="string   form-control" tabindex="3">
                                   <option value="1" selected="selected"> جمهورية مصر العربية</option>
                                   <option value="2">المملكة الأردنية الهاشمية</option>
                                   <option value="3">الجمهورية اليمنية</option>
                                   <option value="4">دولة الإمارات العربية المتحدة</option>
                                   <option value="20">إمارة أبوظبي</option>
                                   <option value="21">إمارة رأس الخيمة</option>
                                   <option value="1007">إمارة أم القيوين</option>
                               </select>*@
                        &nbsp; &nbsp;

                           <label class="control-label bg-color title" for="ddmahkamSearch">المحكمة :</label>&nbsp;
                       
                       <select tabindex="3"
                               class="string search form-control"
                               id="ddmahkamSearch"
                               name="d"
                               ng-options="t.Name for t in courts track by t.ID"
                               ng-model="court"
                               ng-change="getTreeItems()">

                       </select>

                               @*<select name="d" id="ddmahkamSearch" class="string search  form-control" tabindex="3">
                                   <option value="101">النقض المدني</option>
                                   <option value="102">النقض الجنائي</option>
                                   <option value="103">الإدارية العليا</option>
                                   <option value="104">الدستورية العليا</option>
                                   <option value="105">المحكمة العليا</option>
                                   <option value="106">القضاء الإداري</option>
                                   <option value="464">المحاكم الإقتصادية</option>
                                   <option value="677">الأحكام المتعارضة</option>
                               </select>*@
                       &nbsp; &nbsp;
                       @*<label class="control-label bg-color title" >بحث فى الفهرس :  </label>*@
                       <input type="text"  class="form-control " placeholder="بحث فى الفهرس " style="width:auto;">
                       <input type="submit" value="بـحـث" class="btn butt-yellow" ng-click="search()">
                 </form>
               </div>

           </div>
                 <div class="tab-pane fade active in" id="GeneralTab">
                     GeneralTab
            
                    @*<ul id="tree1" class="tree-fahrs">
                        <li>
                            <a href="#">الأحكام الصادرة في طلبات رجال القضاء</a>
                          <ul>
                                <li>
                                    <a href="javascript:;">
                                        التزام  الغاصب برد ما يجنيه من غلة العين المغصوبة
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        الخصوم

                                        فى الطلب
                                    </a>
                                    <ul>
                                        <li>
                                            <a href="#">
                                                أعمال إدارية
                                            </a>
                                            <ul>
                                                <li>
                                                    <a href="#">أعمال إدارية</a>
                                                </li>
                                                <li>
                                                    <a href="#">أعمال السيادة</a>
                                                </li>
                                                <li>
                                                    <a href="#">أعمال إدارية</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">
                                                نزع الملكية

                                                للمنفعة العامة
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:;">

                                        اعذار
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:;">
                                الأحكام الصادرة في المواد المدنية والتجارية والأحوال الشخصية
                            </a>
                            <ul>
                                <li>
                                    <a href="javascript:;">
                                        رسوم الشهر العقارى
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        رد

                                        الرسوم
                                    </a>
                                    <ul>
                                        <li>
                                            <a href="javascript:;">رد الرسوم</a>
                                            <ul>
                                                <li>
                                                    <a href="javascript:;">رى وصرف</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;">التزام الحائز سئ النية برد الثمار</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;">التزام الحائز سئ النية برد الثمار</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="javascript:;">ثمرة العين المغصوبة</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        دعوى الريع - الطلبات فيها
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>*@
                </div>
          
            <div class="tab-pane fade " id="defoaTab">
            
                @*<div id="treeview"></div>*@
                @*<c-tree-view node-items="treeItems"></c-tree-view>*@
                <c-tree-v node-items="treeItems"></c-tree-v>

             

                @*<script type="text/ng-template"  id="tree_item_renderer.html">
                    
                    <ul id="tree2" class="tree-fahrs">
                        <li ng-repeat="n in tree1"> 
                            <a href="javascript:;">{{n.text}}</a>
                            <div ng-include="'tree_item_renderer.html'" onload="tree1 = n.node"></div>
                        </li>
                    </ul>
               
                </script>
                <div ng-include="'tree_item_renderer.html'"></div>*@



                @*<ul id="treeV" class="tree-fahrs"><li id="673697" class="branch">


    <i class="indicator glyphicon glyphicon-folder-close"></i><a href="javascript:;"><span style="display: none;">الدفوع الشكلية</span></a><ul id="treeV" class="tree-fahrs"><li id="676999" style="display: none;"><a href="javascript:;"><span>الدفع بعدم إختصاص المحكمة ولائيا بنظر الدعوى</span></a></li><li id="681118" style="display: none;"><a href="javascript:;"><span>الدفع بعدم إختصاص المحكمة محليا بنظر الدعوى</span></a></li><li id="684513" style="display: none;"><a href="javascript:;"><span>الدفع بعدم إختصاص المحكمة نوعيا بنظر الدعوى</span></a></li><li id="699873" style="display: none;"><a href="javascript:;"><span>الدفع بعدم الإعلان فى الميعاد</span></a></li><li id="698877" style="display: none;"><a href="javascript:;"><span>الدفع بقيام التنازع السلبى فى الإختصاص</span></a></li><li id="704126" style="display: none;"><a href="javascript:;"><span>الدفع بعدم انعقاد الخصومة لعدم الإعلان</span></a></li><li id="738794" style="display: none;"><a href="javascript:;"><span>الدفع بسقوط الحق في الإدعاء المباشر لسلوك الطريق المدني</span></a></li><li id="802487" style="display: none;"><a href="javascript:;"><span>الدفع بإنعدام إتصال المحكمة بالدعوى اتصالاً قانونياً</span></a></li><li id="681337" style="display: none;"><a href="javascript:;"><span>الدفع ببطلان الحكم لعدم الاعلان بالحضور</span></a></li><li id="689170" style="display: none;"><a href="javascript:;"><span>الدفع ببطلان أمر الإحالة</span></a></li><li id="696580" style="display: none;"><a href="javascript:;"><span>الدفع ببطلان الإجراءات السابقة على المحاكمة</span></a></li><li id="697450" style="display: none;"><a href="javascript:;"><span>الدفع ببطلان صحيفة الإدعاء المباشر</span></a></li><li id="742948" style="display: none;"><a href="javascript:;"><span>الدفع ببطلان إجراءات الدعوى</span></a></li><li id="749880" style="display: none;"><a href="javascript:;"><span>الدفع ببطلان الدعوى لبطلان التكليف بالحضور</span></a></li><li id="679094" style="display: none;"><a href="javascript:;"><span>الدفع ببطلان إجراءات التكليف بالحضور</span></a></li><li id="698875" style="display: none;"><a href="javascript:;"><span>الدفع ببطلان الحكم الغيابى لصدوره من محكمة غير مختصة ولائيا</span></a></li><li id="699564" style="display: none;"><a href="javascript:;"><span>الدفع ببطلان الحكم لعدم القيام بالتقرير بالمعارضة الاستئنافية الأولى</span></a></li><li id="742502" style="display: none;"><a href="javascript:;"><span>الدفع ببطلان الحكم لعدم الإعلان بإجراءات المحاكمة</span></a></li><li id="702833" style="display: none;"><a href="javascript:;"><span>الدفع بإعتبار المدعى بالحق المدنى تاركاً لدعواه</span></a></li><li id="744116" style="display: none;"><a href="javascript:;"><span>الدفع ببطلان إجراءات المحاكمة</span></a></li></ul></li><li id="673699" class="branch"><i class="indicator glyphicon glyphicon-folder-close"></i><a href="javascript:;"><span style="display: none;">الدفوع الموضوعية</span></a><ul id="treeV" class="tree-fahrs"><li id="738638" class="branch" style="display: none;"><i class="indicator glyphicon glyphicon-folder-close"></i><a href="javascript:;"><span style="display: none;">الدفع بالبطلان</span></a><ul id="treeV" class="tree-fahrs"><li id="739692" class="branch" style="display: none;"><i class="indicator glyphicon glyphicon-folder-close"></i><a href="javascript:;"><span style="display: none;">الدفع ببطلان إذن النيابة العامة</span></a><ul id="treeV" class="tree-fahrs"><li id="676418" style="display: none;"><a href="javascript:;"><span>لإبتنائه على تحريات غير جدية</span></a></li><li id="694830" style="display: none;"><a href="javascript:;"><span>لعدم بيان صفة مصدره وإختصاصه المكانى</span></a></li><li id="697996" style="display: none;"><a href="javascript:;"><span>لصدوره عن جريمة مستقبلة</span></a></li><li id="728165" style="display: none;"><a href="javascript:;"><span>لعدم خضوع الجريمة للقانون الجنائي المصري</span></a></li><li id="740880" style="display: none;"><a href="javascript:;"><span>لصدوره غير مسبب</span></a></li><li id="740914" style="display: none;"><a href="javascript:;"><span>لمخالفته قواعد الاختصاص</span></a></li><li id="741023" style="display: none;"><a href="javascript:;"><span>لعدم إثبات ساعة صدور الإذن</span></a></li><li id="742672" style="display: none;"><a href="javascript:;"><span>للتجهيل بمكان الضبط والتفتيش</span></a></li><li id="742717" style="display: none;"><a href="javascript:;"><span>لصدوره لغير المختص بالضبط</span></a></li><li id="742798" style="display: none;"><a href="javascript:;"><span>لصدوره بناء على إذن نيابة باطل</span></a></li><li id="742803" style="display: none;"><a href="javascript:;"><span>لصدوره ممن لا يملك إصداره قانونا</span></a></li><li id="742832" style="display: none;"><a href="javascript:;"><span>لتجاوز القائم بالضبط لاختصاصه المكاني</span></a></li><li id="742835" style="display: none;"><a href="javascript:;"><span>لخلوه من الخاتم الرسمي للنيابة التي أصدرته</span></a></li><li id="742857" style="display: none;"><a href="javascript:;"><span>لإستعماله عدة مرات</span></a></li><li id="742865" style="display: none;"><a href="javascript:;"><span>لخلوه من توقيع مصدره</span></a></li><li id="742873" style="display: none;"><a href="javascript:;"><span>لتذييله بتوقيع غير واضح يتعذر قراءته</span></a></li><li id="742916" style="display: none;"><a href="javascript:;"><span>لكون الطاعن خارج البلاد</span></a></li><li id="746004" style="display: none;"><a href="javascript:;"><span>لتنفيذه في غير مسكن المأذون بتفتيشه</span></a></li><li id="748679" style="display: none;"><a href="javascript:;"><span>لانصرافه إلى غير مسكن الطاعن دون الحصول على إذن</span></a></li><li id="749112" style="display: none;"><a href="javascript:;"><span>لخلوه من اسم المنفذ له</span></a></li><li id="749127" style="display: none;"><a href="javascript:;"><span>لصدوره دون قيام عضو النيابة بالاستماع إلى شرائط التسجيل</span></a></li><li id="749139" style="display: none;"><a href="javascript:;"><span>لخلو الإذن من اسم النيابة التابع لها مصدر الإذن</span></a></li><li id="749259" style="display: none;"><a href="javascript:;"><span>لإبتنائه على تحريات باطلة</span></a></li><li id="749366" style="display: none;"><a href="javascript:;"><span>لصدوره مُنصباً على تفتيش منزل غير المتهم</span></a></li><li id="749432" style="display: none;"><a href="javascript:;"><span>لعدم توافر صفة الضبطية القضائية في منفذ الإذن</span></a></li><li id="749462" style="display: none;"><a href="javascript:;"><span>لصدوره لاحقاً على الإجراءات</span></a></li><li id="750369" style="display: none;"><a href="javascript:;"><span>لصدوره بعد القبض والتفتيش</span></a></li><li id="761047" style="display: none;"><a href="javascript:;"><span>لتنفيذ القبض بصورة الإذن دون أصله</span></a></li><li id="761308" style="display: none;"><a href="javascript:;"><span>لوروده على أمور لا تتعلق بالواقعة محل الاتهام</span></a></li><li id="761399" style="display: none;"><a href="javascript:;"><span>لعدم صدوره من القاضي الجزئي</span></a></li><li id="761577" style="display: none;"><a href="javascript:;"><span>لتعاصر صدوره مع إذنين آخرين اختصا بمتهمين من رهط الطاعنين</span></a></li></ul></li><li id="746746" class="branch" style="display: none;"><i class="indicator glyphicon glyphicon-folder-close"></i><a href="javascript:;"><span style="display: none;">الدفع ببطلان القبض</span></a><ul id="treeV" class="tree-fahrs"><li id="743740" style="display: none;"><a href="javascript:;"><span>لإجرائه خارج دائرة الاختصاص المكاني لمأمور الضبط القضائي</span></a></li><li id="744162" style="display: none;"><a href="javascript:;"><span>لحصوله قبل صدور الإذن بالتفتيش</span></a></li><li id="746048" style="display: none;"><a href="javascript:;"><span>لوقوعه بعد نفاذ الأجل المحدد</span></a></li><li id="746101" style="display: none;"><a href="javascript:;"><span>لإنتفاء حالة التلبس</span></a></li><li id="746137" style="display: none;"><a href="javascript:;"><span>لإنعدام مبررات الاستيقاف</span></a></li><li id="746207" style="display: none;"><a href="javascript:;"><span>لخروجه عن نطاق الإذن به</span></a></li><li id="746889" style="display: none;"><a href="javascript:;"><span>لحصوله دون صدور إذن من النيابة</span></a></li><li id="747062" style="display: none;"><a href="javascript:;"><span>لإنعدام سبب القبض</span></a></li><li id="747443" style="display: none;"><a href="javascript:;"><span>لإجرائه بمعرفة مأمور ضبط قضائي غير مختص</span></a></li><li id="747588" style="display: none;"><a href="javascript:;"><span>لوقوعه قبل صدور أذن النيابة العامة</span></a></li><li id="748432" style="display: none;"><a href="javascript:;"><span>لصدور أمر القبض من جهة قضائية غير مختصة</span></a></li><li id="748457" style="display: none;"><a href="javascript:;"><span>لحصوله على خلاف أحكام القانون</span></a></li><li id="749101" style="display: none;"><a href="javascript:;"><span>لابتنائه على تحريات غير جدية</span></a></li><li id="749300" style="display: none;"><a href="javascript:;"><span>لعدم إجراء تحريات سابقة على القبض</span></a></li><li id="749355" style="display: none;"><a href="javascript:;"><span>لكون الجريمة المسندة ليست من الجرائم التي أجاز القانون القبض فيها</span></a></li><li id="750433" style="display: none;"><a href="javascript:;"><span>لكون إذن النيابة العامة بالضبط والتفتيش لم يتضمن الطاعن</span></a></li></ul></li><li id="746748" class="branch" style="display: none;"><i class="indicator glyphicon glyphicon-folder-close"></i><a href="javascript:;"><span style="display: none;">الدفع ببطلان التفتيش</span></a><ul id="treeV" class="tree-fahrs"><li id="704120" style="display: none;"><a href="javascript:;"><span>لعدم الحصول على إذن بتفتيش السيارة الغير مملوكة للمتهم</span></a></li><li id="740882" style="display: none;"><a href="javascript:;"><span>لعدم شمول إذن التفتيش على تفتيش منزله</span></a></li><li id="742735" style="display: none;"><a href="javascript:;"><span>لتجاوزه الغرض المحدد بإذن النيابة العامة</span></a></li><li id="742912" style="display: none;"><a href="javascript:;"><span>لعدم إثباته كتابة من الضابط المأذون له بالتفتيش</span></a></li><li id="743950" style="display: none;"><a href="javascript:;"><span>لإجرائه عقب قبض باطل</span></a></li><li id="744502" style="display: none;"><a href="javascript:;"><span>لحصول التفتيش فى غيبة الطاعن</span></a></li><li id="747087" style="display: none;"><a href="javascript:;"><span>لإنتفاء حالة التلبس</span></a></li><li id="747197" style="display: none;"><a href="javascript:;"><span>لصدور الأذن من غير المختص</span></a></li><li id="747471" style="display: none;"><a href="javascript:;"><span>لإجرائه دون إذن من النيابة المختصة</span></a></li><li id="747544" style="display: none;"><a href="javascript:;"><span>لتمام التفتيش بطريقة الحيلة</span></a></li><li id="747600" style="display: none;"><a href="javascript:;"><span>لإجرائه في غير المكان المحدد بالإذن وقبل صدوره</span></a></li><li id="747634" style="display: none;"><a href="javascript:;"><span>لإمتداد إجراء التفتيش إلى مبنى في حيازة غير الطاعن</span></a></li><li id="747655" style="display: none;"><a href="javascript:;"><span>لعدم ثبوت ندب القائم بالتفتيش من الضابط المأذون له بذلك</span></a></li><li id="749057" style="display: none;"><a href="javascript:;"><span>لعدم قيام مبرره</span></a></li><li id="749298" style="display: none;"><a href="javascript:;"><span>لحصوله دون حضور الأشخاص الواجب حضورهم</span></a></li><li id="749324" style="display: none;"><a href="javascript:;"><span>لحصوله في غير الحالات الجائز بها</span></a></li><li id="750356" style="display: none;"><a href="javascript:;"><span>لإجرائه قبل صدور إذن النيابة العامة</span></a></li><li id="753556" style="display: none;"><a href="javascript:;"><span>لحصوله من مأمور ضبط قضائي غير مختص مكانيا</span></a></li><li id="761458" style="display: none;"><a href="javascript:;"><span>لإجرائه من غير أنثى</span></a></li></ul></li><li id="746962" class="branch" style="display: none;"><i class="indicator glyphicon glyphicon-folder-close"></i><a href="javascript:;"><span style="display: none;">الدفع ببطلان الإجراءات</span></a><ul id="treeV" class="tree-fahrs"><li id="693848" style="display: none;"><a href="javascript:;"><span>الدفع ببطلان إجراءات المراقبة والتسجيل</span></a></li><li id="674696" style="display: none;"><a href="javascript:;"><span>الدفع ببطلان إجراءات القبض و التفتيش</span></a></li><li id="684584" style="display: none;"><a href="javascript:;"><span>الدفع ببطلان إجراءات أخذ العينة</span></a></li><li id="702814" style="display: none;"><a href="javascript:;"><span>الدفع ببطلان اجراءات الضبط</span></a></li><li id="719500" style="display: none;"><a href="javascript:;"><span>الدفع ببطلان إجراءات التحريز</span></a></li><li id="720217" style="display: none;"><a href="javascript:;"><span>الدفع ببطلان إجراءات التحقيق</span></a></li><li id="722360" style="display: none;"><a href="javascript:;"><span>الدفع ببطلان إجراءات وزن المخدر</span></a></li><li id="741046" style="display: none;"><a href="javascript:;"><span>الدفع ببطلان الإجراءات السابقة على الإذن</span></a></li><li id="742925" style="display: none;"><a href="javascript:;"><span>الدفع ببطلان الإجراءات لعدم فض إحراز الشرائط وسماعها بحضور الطاعن</span></a></li><li id="749491" style="display: none;"><a href="javascript:;"><span>الدفع ببطلان إجراءات النيابة العامة بمد الحبس الاحتياطي</span></a></li></ul></li><li id="749105" class="branch" style="display: none;"><i class="indicator glyphicon glyphicon-folder-close"></i><a href="javascript:;"><span style="display: none;">الدفع ببطلان الضبط</span></a><ul id="treeV" class="tree-fahrs"><li id="749106" style="display: none;"><a href="javascript:;"><span>لوجود بعض المدنيين الذين لا يخضعون لقانون الأحكام العسكرية</span></a></li><li id="678571" style="display: none;"><a href="javascript:;"><span>لإقتصار إذن التفتيش على ضبط سلاح ناري</span></a></li><li id="750781" style="display: none;"><a href="javascript:;"><span>لعدم توافر حالة التلبس</span></a></li><li id="750782" style="display: none;"><a href="javascript:;"><span>لوقوع الجريمة بتحريض من عضو الرقابة الإدارية</span></a></li></ul></li><li id="747068" class="branch" style="display: none;"><i class="indicator glyphicon glyphicon-folder-close"></i><a href="javascript:;"><span style="display: none;">الدفع ببطلان القبض والتفتيش</span></a><ul id="treeV" class="tree-fahrs"><li id="695656" style="display: none;"><a href="javascript:;"><span>لخلو الاوراق مما يفيد انتداب المأذون له بالتفتيش</span></a></li><li id="700845" style="display: none;"><a href="javascript:;"><span>لإبتناؤه على تحريات دون توافر دلائل كافية</span></a></li><li id="718328" style="display: none;"><a href="javascript:;"><span>لعدم توافر حالة التلبس</span></a></li><li id="743852" style="display: none;"><a href="javascript:;"><span>لعدم توافر دلائل كافية على إرتكاب الجريمة</span></a></li><li id="743856" style="display: none;"><a href="javascript:;"><span>لإجرائهما بغير إذن من النيابة العامة</span></a></li><li id="743893" style="display: none;"><a href="javascript:;"><span>لحصولهما من غير المأذون له بإجرائهما</span></a></li><li id="748508" style="display: none;"><a href="javascript:;"><span>لحصولهما قبل صدور إذن من النيابة العامة</span></a></li><li id="743931" style="display: none;"><a href="javascript:;"><span>لحصولهما دون سبب ودون سند من القانون</span></a></li><li id="744850" style="display: none;"><a href="javascript:;"><span>لحصوله في غير الحالات التي تجيزه قانوناً</span></a></li><li id="744868" style="display: none;"><a href="javascript:;"><span>لمخالفته أحكام المادة 41 من دستور 1971</span></a></li><li id="744888" style="display: none;"><a href="javascript:;"><span>لتقارب الوقت بين استصدار الإذن وتنفيذه</span></a></li><li id="746025" style="display: none;"><a href="javascript:;"><span>لعدم اطلاع الطاعن على الإذن قبل البدء في تنفيذه</span></a></li><li id="746170" style="display: none;"><a href="javascript:;"><span>لمخالفة الإجراءات المقررة قانونا</span></a></li><li id="749009" style="display: none;"><a href="javascript:;"><span>لأن ما وقع من الضابط لا يعد تفتيشاً إدارياً</span></a></li><li id="749011" style="display: none;"><a href="javascript:;"><span>لتجاوز حدود التفتيش</span></a></li><li id="749103" style="display: none;"><a href="javascript:;"><span>لوجود بعض المدنيين الذين لا يخضعون لقانون الأحكام العسكرية</span></a></li><li id="749124" style="display: none;"><a href="javascript:;"><span>لحصوله على غير مقتضى القانون</span></a></li><li id="749212" style="display: none;"><a href="javascript:;"><span>لكون الأحكام التي تم القبض على المتهم تنفيذاً لها غير واجبة النفاذ</span></a></li><li id="749264" style="display: none;"><a href="javascript:;"><span>لإجرائهما خارج دائرة الاختصاص المكاني لمصدر الإذن</span></a></li><li id="749352" style="display: none;"><a href="javascript:;"><span>لإجرائه خارج دائرة الاختصاص المكاني لمأمور الضبط القضائي</span></a></li><li id="749273" style="display: none;"><a href="javascript:;"><span>لعدم التأكد من أن المنزل الذي تم تفتيشه هو منزل الطاعن</span></a></li><li id="749302" style="display: none;"><a href="javascript:;"><span>لعدم جواز قيام ضباط وأمناء الشرطة والمرور بالقبض أو تفتيش قائدي السيارات</span></a></li><li id="750368" style="display: none;"><a href="javascript:;"><span>لعدم ذكر اسم الطاعن في الإذن الصادر بذلك</span></a></li></ul></li><li id="747160" class="branch" style="display: none;"><i class="indicator glyphicon glyphicon-folder-close"></i><a href="javascript:;"><span style="display: none;">الدفع ببطلان الإستيقاف</span></a><ul id="treeV" class="tree-fahrs"><li id="693309" style="display: none;"><a href="javascript:;"><span>لعدم قيام ما يبرره</span></a></li><li id="744449" style="display: none;"><a href="javascript:;"><span>لانتفاء حالة التلبس</span></a></li></ul></li><li id="739713" class="branch" style="display: none;"><i class="indicator glyphicon glyphicon-folder-close"></i><a href="javascript:;"><span style="display: none;">الدفع ببطلان التقرير</span></a><ul id="treeV" class="tree-fahrs"><li id="697999" style="display: none;"><a href="javascript:;"><span>الدفع ببطلان تقرير لجنة الجرد</span></a></li><li id="706804" style="display: none;"><a href="javascript:;"><span>الدفع ببطلان تقرير الصفة التشريحية</span></a></li><li id="711952" style="display: none;"><a href="javascript:;"><span>الدفع ببطلان التقرير الطبي</span></a></li><li id="718015" style="display: none;"><a href="javascript:;"><span>الدفع ببطلان تقرير اللجنة</span></a></li><li id="719008" style="display: none;"><a href="javascript:;"><span>بطلان تقرير المعمل الجنائي</span></a></li></ul></li><li id="739722" class="branch" style="display: none;"><i class="indicator glyphicon glyphicon-folder-close"></i><a href="javascript:;"><span style="display: none;">الدفع ببطلان المحضر</span></a><ul id="treeV" class="tree-fahrs"><li id="745871" style="display: none;"><a href="javascript:;"><span>الدفع ببطلان محضر تحقيق النيابة العامة</span></a></li><li id="686189" style="display: none;"><a href="javascript:;"><span>الدفع ببطلان محضر جمع الاستدلالات</span></a></li><li id="692620" style="display: none;"><a href="javascript:;"><span>الدفع ببطلان محضر التحريات</span></a></li><li id="749114" style="display: none;"><a href="javascript:;"><span>الدفع ببطلان محضر تفريغ التسجيل</span></a></li><li id="749210" style="display: none;"><a href="javascript:;"><span>الدفع ببطلان محضر الضبط</span></a></li></ul></li><li id="739734" class="branch" style="display: none;"><i class="indicator glyphicon glyphicon-folder-close"></i><a href="javascript:;"><span style="display: none;">الدفع ببطلان التحقيقات</span></a><ul id="treeV" class="tree-fahrs"><li id="699530" style="display: none;"><a href="javascript:;"><span>لتمامها قبل اصدار إذن من مجلس القضاء الاعلى</span></a></li><li id="742862" style="display: none;"><a href="javascript:;"><span>لقصورها وإجرائها في غيبة المدافعين</span></a></li><li id="744991" style="display: none;"><a href="javascript:;"><span>لكونها وليدة قبض باطل</span></a></li><li id="745952" style="display: none;"><a href="javascript:;"><span>لعدم الاستعانة بوسيط يتولى الترجمة المباشرة</span></a></li><li id="746003" style="display: none;"><a href="javascript:;"><span>لإجرائها بمعرفة وكيل نيابة غير مختص مكانيا</span></a></li><li id="746006" style="display: none;"><a href="javascript:;"><span>لعدم توقيع كاتب التحقيق على بعض صفحات التحقيقات</span></a></li><li id="746020" style="display: none;"><a href="javascript:;"><span>لتمامها من خلال مترجم غير مختص</span></a></li><li id="746021" style="display: none;"><a href="javascript:;"><span>لخلوها من توقيع مقروء للمحقق وأمين السر</span></a></li><li id="746029" style="display: none;"><a href="javascript:;"><span>لعدم إخطار مجلس نقابة المحامين قبل الشروع في التحقيق</span></a></li><li id="746053" style="display: none;"><a href="javascript:;"><span>لإجرائها قبل الحصول على إذن</span></a></li><li id="746091" style="display: none;"><a href="javascript:;"><span>لطول أمد التحقيق وإرهاق المتهمين</span></a></li><li id="746106" style="display: none;"><a href="javascript:;"><span>لعدم حيدة عضو النيابة المحقق</span></a></li><li id="746110" style="display: none;"><a href="javascript:;"><span>لعدم التعريف بمباشرة النيابة العامة للتحقيق</span></a></li><li id="746111" style="display: none;"><a href="javascript:;"><span>لعدم إحاطة المتهم بالتهمة المنسوبة إليه</span></a></li><li id="746597" style="display: none;"><a href="javascript:;"><span>لحصولها في غيبة المحامي</span></a></li></ul></li><li id="745928" class="branch" style="display: none;"><i class="indicator glyphicon glyphicon-folder-close"></i><a href="javascript:;"><span style="display: none;">الدفع ببطلان الاستجواب</span></a><ul id="treeV" class="tree-fahrs"><li id="745720" style="display: none;"><a href="javascript:;"><span>لإجرائه بمعرفة مأمور الضبط القضائي</span></a></li><li id="745729" style="display: none;"><a href="javascript:;"><span>لإجراءه بمعرفة عضو الرقابة الإدارية</span></a></li><li id="745733" style="display: none;"><a href="javascript:;"><span>لعدم حضور محام أثناء التحقيق</span></a></li><li id="745792" style="display: none;"><a href="javascript:;"><span>للقيام بالاستدعاء والقبض في غير حالات التلبس</span></a></li><li id="746728" style="display: none;"><a href="javascript:;"><span>لعدم حيدة من أجرى الإستجواب</span></a></li></ul></li><li id="739770" class="branch" style="display: none;"><i class="indicator glyphicon glyphicon-folder-close"></i><a href="javascript:;"><span style="display: none;">الدفع ببطلان التسجيلات</span></a><ul id="treeV" class="tree-fahrs"><li id="678024" style="display: none;"><a href="javascript:;"><span>لعدم الحصول علي إذن من النيابة</span></a></li><li id="740960" style="display: none;"><a href="javascript:;"><span>لتنصت مجريها عليها دون أن يكون مأذوناً له</span></a></li><li id="740961" style="display: none;"><a href="javascript:;"><span>لصدور الإذن بها من غير مختص</span></a></li><li id="742675" style="display: none;"><a href="javascript:;"><span>لصدور الإذن بها على خلاف المقرر قانوناً</span></a></li><li id="742919" style="display: none;"><a href="javascript:;"><span>لحصولها قبل صدور الإذن</span></a></li><li id="744980" style="display: none;"><a href="javascript:;"><span>لإبتنائها على إجراءات باطلة</span></a></li><li id="745012" style="display: none;"><a href="javascript:;"><span>لإشتراك المبلغ في إجرائها رغم أنه غير مأذون له بذلك</span></a></li><li id="745020" style="display: none;"><a href="javascript:;"><span>لعدم تمامها تحت إشراف عضو الرقابة الإدارية المأذون له بالتسجيل</span></a></li><li id="745061" style="display: none;"><a href="javascript:;"><span>لإمتداد يد العبث إليها بالحذف والتغيير والتبديل</span></a></li><li id="749434" style="display: none;"><a href="javascript:;"><span>لمباشرة إجراءات التسجيل لشخص من آحاد الناس</span></a></li><li id="761309" style="display: none;"><a href="javascript:;"><span>لخلو محاضر الضبط والتفريغ في شأنها من البيانات المتعلقة بها</span></a></li><li id="803858" style="display: none;"><a href="javascript:;"><span>لاستحالة سماع ما سجل منها وعدم أخذ بصمة الطاعن في تاريخ التفريغ</span></a></li></ul></li><li id="742934" class="branch" style="display: none;"><i class="indicator glyphicon glyphicon-folder-close"></i><a href="javascript:;"><span style="display: none;">الدفع ببطلان الاتهام</span></a><ul id="treeV" class="tree-fahrs"><li id="746867" style="display: none;"><a href="javascript:;"><span>لخطأ النيابة العامة في اسم المجني عليه</span></a></li><li id="746868" style="display: none;"><a href="javascript:;"><span>لإسناد النيابة العامة إلى بعض الشهود ما يخالف أقوالهم بالتحقيقات</span></a></li><li id="746869" style="display: none;"><a href="javascript:;"><span>لخلو الأوراق من دليل على الأتهام</span></a></li><li id="805358" style="display: none;"><a href="javascript:;"><span>لعدم وجود شاهد رؤية للحادث</span></a></li><li id="805359" style="display: none;"><a href="javascript:;"><span>لإنتفاء صلتهما بالمسروقات المضبوطة</span></a></li><li id="805360" style="display: none;"><a href="javascript:;"><span>لعدم توافر أركان جريمتي القتل العمد والاتفاق الجنائي</span></a></li><li id="805361" style="display: none;"><a href="javascript:;"><span>لعدم حضور أحد من شهود الإثبات</span></a></li></ul></li><li id="749507" style="display: none;"><a href="javascript:;"><span>الدفع ببطلان الدليل</span></a></li><li id="749099" class="branch" style="display: none;"><i class="indicator glyphicon glyphicon-folder-close"></i><a href="javascript:;"><span style="display: none;">الدفع ببطلان الضبط والتفتيش</span></a><ul id="treeV" class="tree-fahrs"><li id="749100" style="display: none;"><a href="javascript:;"><span>لانتفاء حالة التلبس</span></a></li><li id="749353" style="display: none;"><a href="javascript:;"><span>لعدم جدية التحريات التي بني عليها إذن النيابة العامة</span></a></li><li id="749354" style="display: none;"><a href="javascript:;"><span>لصدوره بإسم مغاير لإسم المتهم</span></a></li><li id="749457" style="display: none;"><a href="javascript:;"><span>لوقوعهما قبل صدور إذن النيابة</span></a></li><li id="803066" style="display: none;"><a href="javascript:;"><span>لحصولهما من غير المختص</span></a></li></ul></li><li id="739728" style="display: none;"><a href="javascript:;"><span>الدفع ببطلان التحريات</span></a></li><li id="739715" style="display: none;"><a href="javascript:;"><span>الدفع ببطلان قرار الندب</span></a></li><li id="681426" style="display: none;"><a href="javascript:;"><span>الدفع ببطلان أقوال الشهود</span></a></li><li id="691426" style="display: none;"><a href="javascript:;"><span>الدفع ببطلان المواجهة</span></a></li><li id="696586" style="display: none;"><a href="javascript:;"><span>الدفع ببطلان الاعتراف</span></a></li><li id="698262" style="display: none;"><a href="javascript:;"><span>الدفع ببطلان أعمال الخبير</span></a></li><li id="698271" style="display: none;"><a href="javascript:;"><span>الدفع ببطلان الشهادة</span></a></li><li id="699836" style="display: none;"><a href="javascript:;"><span>الدفع ببطلان التحريز</span></a></li><li id="700212" style="display: none;"><a href="javascript:;"><span>الدفع ببطلان عملية عرض المتهمين</span></a></li><li id="742924" style="display: none;"><a href="javascript:;"><span>الدفع ببطلان تفريغ الأشرطة</span></a></li><li id="744121" style="display: none;"><a href="javascript:;"><span>الدفع ببطلان ندب وأعمال المستشار المنتدب للتحقيق</span></a></li><li id="744124" style="display: none;"><a href="javascript:;"><span>الدفع ببطلان أعمال اللجنة</span></a></li><li id="761645" style="display: none;"><a href="javascript:;"><span>الدفع ببطلان تنفيذ إذن التسجيل</span></a></li></ul></li><li id="738650" class="branch" style="display: none;"><i class="indicator glyphicon glyphicon-folder-close"></i><a href="javascript:;"><span style="display: none;">الدفع بالتزوير</span></a><ul id="treeV" class="tree-fahrs"><li id="682950" style="display: none;"><a href="javascript:;"><span>الدفع بتزوير الشيك</span></a></li><li id="700256" style="display: none;"><a href="javascript:;"><span>الدفع بتزوير محضر الحجز</span></a></li><li id="739864" style="display: none;"><a href="javascript:;"><span>الدفع بتزوير التاريخ</span></a></li><li id="754275" style="display: none;"><a href="javascript:;"><span>الدفع بتزوير الصور الكربونية والضوئية لأذونات الاستلام</span></a></li></ul></li><li id="738651" class="branch" style="display: none;"><i class="indicator glyphicon glyphicon-folder-close"></i><a href="javascript:;"><span style="display: none;">الدفع بالإنعدام</span></a><ul id="treeV" class="tree-fahrs"><li id="699598" style="display: none;"><a href="javascript:;"><span>الدفع بإنعدام التحريات</span></a></li><li id="700624" style="display: none;"><a href="javascript:;"><span>الدفع بإنعدام السيطرة المادية للمتهم</span></a></li><li id="740839" class="branch" style="display: none;"><i class="indicator glyphicon glyphicon-folder-close"></i><a href="javascript:;"><span style="display: none;">الدفع بإنعدام إذن النيابة</span></a><ul id="treeV" class="tree-fahrs"><li id="739481" style="display: none;"><a href="javascript:;"><span>لخلوه من تحديد الاختصاص الوظيفي والمكاني لمصدره</span></a></li><li id="739484" style="display: none;"><a href="javascript:;"><span>لصدوره عن تحريات غير جدية</span></a></li><li id="739488" style="display: none;"><a href="javascript:;"><span>لصدوره عن جريمة مستقبلية</span></a></li></ul></li><li id="749322" style="display: none;"><a href="javascript:;"><span>الدفع بإنعدام مبررات الاستيقاف</span></a></li></ul></li><li id="738659" class="branch" style="display: none;"><i class="indicator glyphicon glyphicon-folder-close"></i><a href="javascript:;"><span style="display: none;">الدفع بالتمتع بالإعفاء</span></a><ul id="treeV" class="tree-fahrs"><li id="679473" style="display: none;"><a href="javascript:;"><span>الدفع بالتمتع بالإعفاء من العقوبة</span></a></li><li id="706799" style="display: none;"><a href="javascript:;"><span>الدفع بالتمتع بالإعفاء الجمركى</span></a></li></ul></li><li id="738663" class="branch" style="display: none;"><i class="indicator glyphicon glyphicon-folder-close"></i><a href="javascript:;"><span style="display: none;">الدفع بالإنتفاء</span></a><ul id="treeV" class="tree-fahrs"><li id="675620" style="display: none;"><a href="javascript:;"><span>الدفع بإنتفاء علاقة السببية</span></a></li><li id="679096" style="display: none;"><a href="javascript:;"><span>الدفع بإنتفاء الاتفاق الجنائي</span></a></li><li id="683885" style="display: none;"><a href="javascript:;"><span>الدفع بإنتفاء الجريمة</span></a></li><li id="696333" style="display: none;"><a href="javascript:;"><span>الدفع بإنتفاء العلم</span></a></li><li id="696526" style="display: none;"><a href="javascript:;"><span>الدفع بإنتفاء المسئولية</span></a></li><li id="697997" style="display: none;"><a href="javascript:;"><span>الدفع بإنتفاء ركن العلانية</span></a></li><li id="698252" style="display: none;"><a href="javascript:;"><span>الدفع بإنتفاء القصد الجنائى</span></a></li><li id="701456" style="display: none;"><a href="javascript:;"><span>الدفع بإنتفاء ركن الخطأ</span></a></li><li id="711925" style="display: none;"><a href="javascript:;"><span>الدفع بإنتفاء صفة المال العام</span></a></li><li id="714392" style="display: none;"><a href="javascript:;"><span>الدفع بإنتفاء الصلة بالمضبوطات</span></a></li><li id="718920" style="display: none;"><a href="javascript:;"><span>الدفع بإنتفاء صفة الموظف العام</span></a></li><li id="720789" style="display: none;"><a href="javascript:;"><span>الدفع بإنتفاء العلاقة الإيجارية</span></a></li><li id="722326" style="display: none;"><a href="javascript:;"><span>الدفع بإنتفاء ركن الضرر</span></a></li><li id="724192" style="display: none;"><a href="javascript:;"><span>الدفع بإنتفاء صفة الرسمية</span></a></li><li id="740910" style="display: none;"><a href="javascript:;"><span>الدفع بإنتفاء حيازة المخدر</span></a></li><li id="761303" style="display: none;"><a href="javascript:;"><span>الدفع بإنتفاء الدليل في الأوراق</span></a></li><li id="761306" style="display: none;"><a href="javascript:;"><span>الدفع بإنتفاء اختصاص المتهم بالعمل المنسوب إليه القيام به</span></a></li></ul></li><li id="738679" class="branch" style="display: none;"><i class="indicator glyphicon glyphicon-folder-close"></i><a href="javascript:;"><span style="display: none;">الدفع بالتناقض</span></a><ul id="treeV" class="tree-fahrs"><li id="699889" style="display: none;"><a href="javascript:;"><span>الدفع بتناقض الدليلين القولى والفنى</span></a></li><li id="700848" style="display: none;"><a href="javascript:;"><span>الدفع بتناقض أقوال المجنى عليه والشهود</span></a></li><li id="725198" style="display: none;"><a href="javascript:;"><span>الدفع بتناقض أقوال الشهود</span></a></li></ul></li><li id="738692" class="branch" style="display: none;"><i class="indicator glyphicon glyphicon-folder-close"></i><a href="javascript:;"><span style="display: none;">الدفع بعدم المعقولية</span></a><ul id="treeV" class="tree-fahrs"><li id="678058" style="display: none;"><a href="javascript:;"><span>دفع بعدم معقولية الواقعة</span></a></li><li id="715658" style="display: none;"><a href="javascript:;"><span>دفع بعدم معقولية رواية المجني عليها</span></a></li></ul></li><li id="750353" class="branch" style="display: none;"><i class="indicator glyphicon glyphicon-folder-close"></i><a href="javascript:;"><span style="display: none;">الدفع بسقوط الحق في الإدعاء المباشر</span></a><ul id="treeV" class="tree-fahrs"><li id="750355" style="display: none;"><a href="javascript:;"><span>لمضى أكثر من ثلاثة أشهر حتى إقامة المدعي بالحقوق المدنية لدعواه</span></a></li></ul></li><li id="738725" class="branch" style="display: none;"><i class="indicator glyphicon glyphicon-folder-close"></i><a href="javascript:;"><span style="display: none;">الدفع بعدم توافر ظرف مشدد</span></a><ul id="treeV" class="tree-fahrs"><li id="709985" style="display: none;"><a href="javascript:;"><span>الدفع بعدم توافر ظرف سبق الإصرار</span></a></li></ul></li><li id="738744" class="branch" style="display: none;"><i class="indicator glyphicon glyphicon-folder-close"></i><a href="javascript:;"><span style="display: none;">الدفع بعدم الصحة</span></a><ul id="treeV" class="tree-fahrs"><li id="695308" style="display: none;"><a href="javascript:;"><span>الدفع بعدم صحة الواقعة وإسنادها</span></a></li><li id="698978" style="display: none;"><a href="javascript:;"><span>الدفع بعدم صحة أقوال الشهود</span></a></li><li id="705912" style="display: none;"><a href="javascript:;"><span>الدفع بعدم سلامة إجراءات التحقيق</span></a></li></ul></li><li id="738800" class="branch" style="display: none;"><i class="indicator glyphicon glyphicon-folder-close"></i><a href="javascript:;"><span style="display: none;">الدفع بعدم الملكية</span></a><ul id="treeV" class="tree-fahrs"><li id="698266" style="display: none;"><a href="javascript:;"><span>الدفع بعدم ملكية المحل</span></a></li><li id="720156" style="display: none;"><a href="javascript:;"><span>الدفع بعدم ملكية الأرض</span></a></li></ul></li><li id="738823" class="branch" style="display: none;"><i class="indicator glyphicon glyphicon-folder-close"></i><a href="javascript:;"><span style="display: none;">الدفع بإنعدام أو تعذر الرؤية</span></a><ul id="treeV" class="tree-fahrs"><li id="675626" style="display: none;"><a href="javascript:;"><span>دفع بإنعدام الرؤية</span></a></li><li id="698261" style="display: none;"><a href="javascript:;"><span>الدفع بتعذر أو استحالة الرؤية</span></a></li></ul></li><li id="738869" class="branch" style="display: none;"><i class="indicator glyphicon glyphicon-folder-close"></i><a href="javascript:;"><span style="display: none;">الدفع بالإنقضاء</span></a><ul id="treeV" class="tree-fahrs"><li id="673797" style="display: none;"><a href="javascript:;"><span>الدفع بإنقضاء الدعوي الجنائية بمضي المدة</span></a></li><li id="710311" style="display: none;"><a href="javascript:;"><span>الدفع بانقضاء الدعوى الجنائية للوضع تحت الحراسة</span></a></li><li id="750094" style="display: none;"><a href="javascript:;"><span>الدفع بإنقضاء الدعوى الجنائية لسبق صدور أمر بألا وجه في الدعوى</span></a></li><li id="756794" style="display: none;"><a href="javascript:;"><span>الدفع بإنقضاء الجريمة لعدم الإختصاص بالعمل</span></a></li></ul></li><li id="739439" class="branch" style="display: none;"><i class="indicator glyphicon glyphicon-folder-close"></i><a href="javascript:;"><span style="display: none;">الدفع بتوافر عذر معفي من العقاب</span></a><ul id="treeV" class="tree-fahrs"><li id="698844" style="display: none;"><a href="javascript:;"><span>الدفع بتوافر عذر الاستفزاز</span></a></li></ul></li><li id="687325" style="display: none;"><a href="javascript:;"><span>الدفع بعدم الدستورية</span></a></li><li id="749035" style="display: none;"><a href="javascript:;"><span>الدفع بشيوع مكان الضبط</span></a></li><li id="739642" style="display: none;"><a href="javascript:;"><span>الدفع بصورية إيصال الأمانة</span></a></li><li id="679080" style="display: none;"><a href="javascript:;"><span>الدفع بشيوع التهمة</span></a></li><li id="683790" style="display: none;"><a href="javascript:;"><span>الدفع بالجهل بالقانون</span></a></li><li id="675598" style="display: none;"><a href="javascript:;"><span>الدفع بالتغاير بين ما تم ضبطه وما جرى تحليله</span></a></li><li id="739967" style="display: none;"><a href="javascript:;"><span>الدفع بعدم إرتكاب الجريمة</span></a></li><li id="738738" style="display: none;"><a href="javascript:;"><span>الدفع بعدم توافر أركان الجريمة</span></a></li><li id="679062" style="display: none;"><a href="javascript:;"><span>الدفع بأن الشيكات متحصلة من جريمة نصب</span></a></li><li id="679479" style="display: none;"><a href="javascript:;"><span>الدفع بتوافر حالة الدفاع الشرعي</span></a></li><li id="681069" style="display: none;"><a href="javascript:;"><span>الدفع بإعتبار الحجز كأن لم يكن</span></a></li><li id="681199" style="display: none;"><a href="javascript:;"><span>الدفع بتلفيق الاتهام</span></a></li><li id="679071" style="display: none;"><a href="javascript:;"><span>الدفع بعدم جدية التحريات</span></a></li><li id="682949" style="display: none;"><a href="javascript:;"><span>الدفع بتأخر تحرير محضر الضبط</span></a></li><li id="740708" style="display: none;"><a href="javascript:;"><span>الدفع بعدم إختصاص هيئة الرقابة الإدارية</span></a></li><li id="683870" style="display: none;"><a href="javascript:;"><span>الدفع بتقادم الدعوى الجنائية</span></a></li><li id="690220" style="display: none;"><a href="javascript:;"><span>الدفع بتسجيل العلامة التجارية</span></a></li><li id="695195" style="display: none;"><a href="javascript:;"><span>الدفع بعدم التعويل على أقوال الشاهد لفقدانه القدرة على التمييز</span></a></li><li id="695681" style="display: none;"><a href="javascript:;"><span>الدفع بعدم جواز الإثبات بشهادة الشهود</span></a></li><li id="696700" style="display: none;"><a href="javascript:;"><span>الدفع بإمتناع المسئولية الجنائية للسكر</span></a></li><li id="697411" style="display: none;"><a href="javascript:;"><span>الدفع بعدم التواجد علي مسرح الجريمة</span></a></li><li id="698263" style="display: none;"><a href="javascript:;"><span>الدفع بوجود علاقة تجارية</span></a></li><li id="699532" style="display: none;"><a href="javascript:;"><span>الدفع بإنقطاع رابطة السببية</span></a></li><li id="699570" style="display: none;"><a href="javascript:;"><span>الدفع بالوفاء بجزء من قيمة الشيك</span></a></li><li id="699596" style="display: none;"><a href="javascript:;"><span>الدفع بإنعدام الاختصاص بالعمل</span></a></li><li id="699835" style="display: none;"><a href="javascript:;"><span>الدفع بعدم إرسال الصديرى الخاص بالمتهم للتحليل</span></a></li><li id="699882" style="display: none;"><a href="javascript:;"><span>الدفع بالجهل بالقراءة والكتابة</span></a></li><li id="700822" style="display: none;"><a href="javascript:;"><span>الدفع بقصور تحقيقات النيابة العامة</span></a></li><li id="700823" style="display: none;"><a href="javascript:;"><span>الدفع بإنطباق الأحكام المتعلقة بطاعة أوامر الرئيس</span></a></li><li id="746900" style="display: none;"><a href="javascript:;"><span>الدفع بقصور أعمال الطبيب الشرعي</span></a></li><li id="701454" style="display: none;"><a href="javascript:;"><span>الدفع بعدم تسلم المنقولات</span></a></li><li id="702107" style="display: none;"><a href="javascript:;"><span>الدفع بإمتناع المسئولية الجنائية للجنون أو عاهة العقل</span></a></li><li id="706041" style="display: none;"><a href="javascript:;"><span>الدفع بإعتبار القرار كأن لم يكن لمخالفته المواعيد المقررة</span></a></li><li id="709984" style="display: none;"><a href="javascript:;"><span>الدفع بسقوط الحجز لعدم تمام البيع خلال الميعاد المحدد</span></a></li><li id="710307" style="display: none;"><a href="javascript:;"><span>الدفع بعدم التكليف بنقل المحجوزات إلى السوق</span></a></li><li id="710627" style="display: none;"><a href="javascript:;"><span>الدفع بعدم القدرة على تغطية الرصيد</span></a></li><li id="713924" style="display: none;"><a href="javascript:;"><span>الدفع بقيام الإرتباط بين الدعوي المعروضة ودعاوى أخرى</span></a></li><li id="716816" style="display: none;"><a href="javascript:;"><span>الدفع بإيقاف الدعوى</span></a></li><li id="716845" style="display: none;"><a href="javascript:;"><span>الدفع بقِدم الإصابة</span></a></li><li id="717488" style="display: none;"><a href="javascript:;"><span>الدفع بعدم الإقامة بالعين محل النزاع</span></a></li><li id="718019" style="display: none;"><a href="javascript:;"><span>الدفع بعدم جواز الإثبات بالبينة</span></a></li><li id="718919" style="display: none;"><a href="javascript:;"><span>الدفع بأن التوقف عن العمل تم بسبب الإعتقال</span></a></li><li id="720747" style="display: none;"><a href="javascript:;"><span>الدفع بدخول الطريق في حدود قرية لها مجلس قروي</span></a></li><li id="698902" style="display: none;"><a href="javascript:;"><span>الدفع بصورية العقد</span></a></li><li id="722198" style="display: none;"><a href="javascript:;"><span>الدفع بأن المضبوطات لا تخص الطاعن</span></a></li><li id="722644" style="display: none;"><a href="javascript:;"><span>الدفع بإمتناع المسئولية الجنائية لقيام حالة الضرورة</span></a></li><li id="723467" style="display: none;"><a href="javascript:;"><span>الدفع بوقف إجراءات الحجز والبيع الإداريين</span></a></li><li id="723706" style="display: none;"><a href="javascript:;"><span>الدفع بأن الجنحة المرتكبة هي الاستيلاء على سيارة الغير بغير حق</span></a></li><li id="723937" style="display: none;"><a href="javascript:;"><span>الدفع بعدم جواز تمثيل قاضي التحقيق لسلطة الاتهام في ذات الوقت</span></a></li><li id="723944" style="display: none;"><a href="javascript:;"><span>الدفع بأن الجريمة تحريضية</span></a></li><li id="725572" style="display: none;"><a href="javascript:;"><span>الدفع بتسلم المحرر بحالته من آخر</span></a></li><li id="688402" style="display: none;"><a href="javascript:;"><span>الدفع بصدور إذن النيابة بعد الضبط والتفتيش</span></a></li><li id="749098" style="display: none;"><a href="javascript:;"><span>الدفع بصدور أذن الضبط والتفتيش من غير المختص</span></a></li><li id="725812" style="display: none;"><a href="javascript:;"><span>الدفع برفع دعوى استرداد للمنقولات المحجوز عليها</span></a></li><li id="725818" style="display: none;"><a href="javascript:;"><span>الدفع بحيازة أو إحراز المخدر بقصد التعاطي</span></a></li><li id="726070" style="display: none;"><a href="javascript:;"><span>الدفع بإنقطاع الصلة بين المضبوطات والمُرسل إلى قسم أبحاث التزييف والتزوير</span></a></li><li id="726811" style="display: none;"><a href="javascript:;"><span>الدفع بأن العميل يتمتع بمركز مالي يسمح بالحصول على الاعتماد المالي</span></a></li><li id="727714" style="display: none;"><a href="javascript:;"><span>الدفع بعدم نهائية قرار الهدم</span></a></li><li id="728316" style="display: none;"><a href="javascript:;"><span>الدفع بمدنية الواقعة</span></a></li><li id="732476" style="display: none;"><a href="javascript:;"><span>الدفع بقيام الارتباط بين الشيكات موضوع الاتهام</span></a></li><li id="739217" style="display: none;"><a href="javascript:;"><span>الدفع بعدم تحريز التسجيلات فور الفراغ منها</span></a></li><li id="718921" style="display: none;"><a href="javascript:;"><span>الدفع بإنطباق المادة المتعلقة بالمكافأة اللاحقة على الواقعة</span></a></li><li id="740568" style="display: none;"><a href="javascript:;"><span>الدفع بوجود قوة قاهرة</span></a></li><li id="702370" style="display: none;"><a href="javascript:;"><span>الدفع بعدم اختصاص محرر محضر ضبط الواقعة</span></a></li><li id="742393" style="display: none;"><a href="javascript:;"><span>الدفع بأن المبلغ المدفوع كان ثمنا لبيع جزء من العين المؤجرة</span></a></li><li id="742686" style="display: none;"><a href="javascript:;"><span>الدفع بمخالفة إجراءات التفتيش المقررة قانوناً</span></a></li><li id="742935" style="display: none;"><a href="javascript:;"><span>الدفع بعدم الإختصاص بالعمل الذي طُلبت الرشوة لأداؤه</span></a></li><li id="742970" style="display: none;"><a href="javascript:;"><span>الدفع بحجية حكم البراءة</span></a></li><li id="742972" style="display: none;"><a href="javascript:;"><span>الدفع بعدم تمتع أعضاء الرقابة الإدارية بصفة الضبط القضائي</span></a></li><li id="743755" style="display: none;"><a href="javascript:;"><span>الدفع بعدم وجود شاهد رؤية للحادث</span></a></li><li id="744122" style="display: none;"><a href="javascript:;"><span>الدفع بعدم مواجهة المتهم بالتهم الجديدة المضافة</span></a></li><li id="744123" style="display: none;"><a href="javascript:;"><span>الدفع بوجوب إعمال المادة المتعلقة بحدود التسهيلات الائتمانية الممنوحة إلى العملاء</span></a></li><li id="744440" style="display: none;"><a href="javascript:;"><span>الدفع بعدم حدوث الواقعة في المكان الذي عثر فيه على الجثة</span></a></li><li id="744890" style="display: none;"><a href="javascript:;"><span>الدفع بأن المضبوطات ليست مواد مخدرة</span></a></li><li id="745039" style="display: none;"><a href="javascript:;"><span>الدفع ببيع الشركة في وقت سابق على الواقعة</span></a></li><li id="746008" style="display: none;"><a href="javascript:;"><span>الدفع بأن وقت الحادث غير معلوم</span></a></li><li id="746023" style="display: none;"><a href="javascript:;"><span>الدفع بحدوث تلاعب في إحراز المضبوطات</span></a></li><li id="746891" style="display: none;"><a href="javascript:;"><span>الدفع بعدم إمكانية الجزم بأن أشلاء الجثة التي جرى تشريحها للمجني عليها</span></a></li><li id="746907" style="display: none;"><a href="javascript:;"><span>الدفع بأن الواقعة مجرد جناية ضرب أفضى إلى موت</span></a></li><li id="746928" style="display: none;"><a href="javascript:;"><span>الدفع بإبهام تقرير قسم الأدلة الجنائية</span></a></li><li id="749097" style="display: none;"><a href="javascript:;"><span>الدفع بإنكار تحرير محضر الضبط وإذن التفتيش</span></a></li><li id="749614" style="display: none;"><a href="javascript:;"><span>الدفع بعدم جواز المطالبة بالتعويض عن الضرر الأدبي</span></a></li><li id="749944" style="display: none;"><a href="javascript:;"><span>الدفع بإرتكاب الواقعة صدوعاً لأوامر الرؤساء</span></a></li><li id="750358" style="display: none;"><a href="javascript:;"><span>الدفع بعدم مشروعية الحبس احتياطياً لزيادة مدة الحبس عن ستة أشهر</span></a></li><li id="750758" style="display: none;"><a href="javascript:;"><span>الدفع بوفاة المجني عليه في وقت سابق على وقوع الجريمة</span></a></li><li id="750785" style="display: none;"><a href="javascript:;"><span>الدفع بإستحالة حدوث الواقعة</span></a></li><li id="761067" style="display: none;"><a href="javascript:;"><span>الدفع بعدم صلاحية الإعتراف ليكون دليلاً</span></a></li><li id="761302" style="display: none;"><a href="javascript:;"><span>الدفع بإنفراد ضابط الواقعة بالشهادة</span></a></li><li id="761547" style="display: none;"><a href="javascript:;"><span>الدفع بوجود خلاف بين الطاعن والضابط المجني عليه</span></a></li></ul></li><li id="673700" class="branch"><i class="indicator glyphicon glyphicon-folder-close"></i><a href="javascript:;"><span style="display: none;">الدفع بعدم القبول</span></a><ul id="treeV" class="tree-fahrs"><li id="676340" style="display: none;"><a href="javascript:;"><span>الدفع بعدم قبول الدعوى لرفعها بعد الميعاد</span></a></li><li id="723694" style="display: none;"><a href="javascript:;"><span>الدفع بعدم قبول الدعوى لرفعها قبل المعياد</span></a></li><li id="681703" style="display: none;"><a href="javascript:;"><span>الدفع بعدم قبول الدعوى لرفعها بغير الطريق الذي رسمه القانون</span></a></li><li id="685248" style="display: none;"><a href="javascript:;"><span>الدفع بعدم قبول الدعوى لرفعها من غير ذى صفة</span></a></li><li id="696563" style="display: none;"><a href="javascript:;"><span>الدفع بعدم قبول الدعوى لرفعها على غير ذي صفة</span></a></li><li id="699551" style="display: none;"><a href="javascript:;"><span>الدفع بعدم قبول الدعوى لعدم طلب المدعي بالحقوق المدنية معاقبته جنائياً</span></a></li><li id="698249" style="display: none;"><a href="javascript:;"><span>الدفع بعدم جواز نظر الدعوى لسابقة الفصل فيها</span></a></li><li id="740623" style="display: none;"><a href="javascript:;"><span>الدفع بعدم قبول الطلب لتمام إجراءات الترشيح</span></a></li><li id="744119" style="display: none;"><a href="javascript:;"><span>الدفع بعدم جواز نظر الدعوى لسبق صدور أمر بعدم وجود وجه لإقامة الدعوى الجنائية</span></a></li><li id="706031" style="display: none;"><a href="javascript:;"><span>الدفع بعدم قبول الدعوى لتحريكها من محام بدون توكيل خاص له</span></a></li><li id="725204" style="display: none;"><a href="javascript:;"><span>الدفع بعدم قبول الطعن لقلة نصاب الطاعنين عن المقرر قانوناً</span></a></li><li id="678559" style="display: none;"><a href="javascript:;"><span>الدفع بعدم قبول الدعوى لعدم صدور طلب جمركي برفعها</span></a></li><li id="682943" style="display: none;"><a href="javascript:;"><span>الدفع بعدم قبول الدعوى لصدور أمر بألا وجه لإقامة الدعوى</span></a></li><li id="722178" style="display: none;"><a href="javascript:;"><span>الدفع بعدم قبول الإدعاء المباشر</span></a></li><li id="699879" style="display: none;"><a href="javascript:;"><span>الدفع بعدم جواز رفع الدعوي الجنائية إلا من النائب العام أو المحامي العام</span></a></li><li id="726814" style="display: none;"><a href="javascript:;"><span>الدفع بعدم قبول الدعوى لتحريكها قبل تقديم الشكوى</span></a></li><li id="728459" style="display: none;"><a href="javascript:;"><span>الدفع بعدم قبول الادعاء المدني</span></a></li><li id="731487" style="display: none;"><a href="javascript:;"><span>الدفع بعدم قبول الدعوى لعدم صدور توكيل خاص من المدعي</span></a></li><li id="731828" style="display: none;"><a href="javascript:;"><span>الدفع بعدم قبول الدعوى لوقوع الجريمة من موظف عام أثناء تأديه عمله وبسببها</span></a></li><li id="740609" style="display: none;"><a href="javascript:;"><span>الدفع بعدم قبول الدعوى لعدم الحصول على إذن من نقابة المحامين بتحريك الدعوى</span></a></li><li id="740621" style="display: none;"><a href="javascript:;"><span>الدفع بعدم قبول الدعوى لبطلان طلب تحريك الدعوى لتحصنه بمضي المدة دون الطعن عليه</span></a></li><li id="749438" style="display: none;"><a href="javascript:;"><span>الدفع بعدم قبول الدعوى لرفعها بغير طلب كتابي من الوزير المختص</span></a></li><li id="749591" style="display: none;"><a href="javascript:;"><span>الدفع بعدم قبول الدعوى لإنتفاء صفة المدعي المدني</span></a></li><li id="866053" class="branch" style="display: none;"><i class="indicator glyphicon glyphicon-folder-close"></i><a href="javascript:;"><span style="display: none;">الدفع بعدم قبول الدعوى المدنية</span></a><ul id="treeV" class="tree-fahrs"><li id="750157" style="display: none;"><a href="javascript:;"><span>لوجود صلح في أوراق الدعوى يثبت التنازل عن الدعوى</span></a></li><li id="750159" style="display: none;"><a href="javascript:;"><span>لرفعها من غير ذي صفة</span></a></li><li id="750160" style="display: none;"><a href="javascript:;"><span>لرفعها بغير الطريق الذي رسمه القانون</span></a></li><li id="750163" style="display: none;"><a href="javascript:;"><span>لرفعها بالمخالفة لأحكام قانون الإجراءات الجنائية</span></a></li><li id="750165" style="display: none;"><a href="javascript:;"><span>لسابقة صدور أمر بعدم وجود وجه لإقامة الدعوى الجنائية</span></a></li><li id="750182" style="display: none;"><a href="javascript:;"><span>لسبق التصالح مع المدعي بالحقوق المدنية</span></a></li><li id="750212" style="display: none;"><a href="javascript:;"><span>لعدم جواز إضرار الطاعن بطعنه</span></a></li><li id="750224" style="display: none;"><a href="javascript:;"><span>لتقديم المدعي بالحقوق المدنية لشكواه بعد مضي المدة المقررة قاتوناً</span></a></li></ul></li></ul></li></ul>*@
                  


                @*<ul id="treeV" class="tree-fahrs1"><li id="407470"><a href="javascript:;"><span>الدفوع الشكلية</span></a><ul id="treeV" class="tree-fahrs1"><li id="414711"><a href="javascript:;"><span>الدفع ببطلان صحيفة الطعن</span></a><ul id="treeV" class="tree-fahrs1"><li id="738107"><a href="javascript:;"><span>لخلو الصحيفة من البيانات الجوهرية</span></a></li><li id="738122"><a href="javascript:;"><span>لتذيلها بتوقيع بلغة أجنبية</span></a></li></ul></li><li id="735821"><a href="javascript:;"><span>الدفع ببطلان صحيفة الإستئناف</span></a><ul id="treeV" class="tree-fahrs1"><li id="665542"><a href="javascript:;"><span>الاستئناف لخلوها من البيانات الجوهرية</span></a></li><li id="407004"><a href="javascript:;"><span>الإستئناف لعدم الإعلان بصحيفة الدعوى</span></a></li><li id="727907"><a href="javascript:;"><span>الدفع ببطلان صحيفة الاستئناف</span></a></li></ul></li><li id="735823"><a href="javascript:;"><span>الدفع ببطلان الحكم</span></a><ul id="treeV" class="tree-fahrs1"><li id="415977"><a href="javascript:;"><span>لبطلان تشكيل الهيئة</span></a></li><li id="626839"><a href="javascript:;"><span>لعدم عرض الدعوى على لجنة التوفيق والمصالحة</span></a></li><li id="672509"><a href="javascript:;"><span>لعدم الإعلان بتقارير الخبرة</span></a></li><li id="653145"><a href="javascript:;"><span>لعدم الاعلان بالصحيفة</span></a></li><li id="655427"><a href="javascript:;"><span>لتجاوز هيئة التحكيم الميعاد المتفق</span></a></li><li id="655283"><a href="javascript:;"><span>لخلو الأوراق من مشارطة التحكيم</span></a></li><li id="725789"><a href="javascript:;"><span>لتأييده حكم باطل</span></a></li><li id="656267"><a href="javascript:;"><span>لخلو الأوراق من محضر جلسة النطق بالحكم</span></a></li><li id="727112"><a href="javascript:;"><span>لإبتنائه على إعلان باطل</span></a></li><li id="730340"><a href="javascript:;"><span>مصادرة حق الطاعن في تقديم دفاعه</span></a></li><li id="738123"><a href="javascript:;"><span>لصدوره دون أن يرد بديباجته أنه صدر بعد المداولة</span></a></li><li id="738133"><a href="javascript:;"><span>لصدوره عن محكمة غير مختصة بنظره</span></a></li><li id="738134"><a href="javascript:;"><span>لعدم إيراده بياناً للمستندات التي حوتها الحوافظ</span></a></li><li id="738136"><a href="javascript:;"><span>لصدوره دون توقيع مسودته من القضاة</span></a></li><li id="738137"><a href="javascript:;"><span>لعدم اشتمال حكم المحكم على مسودته</span></a></li><li id="738144"><a href="javascript:;"><span>لخلو أوراق الملف من النسخة الأصلية للحكم</span></a></li><li id="738146"><a href="javascript:;"><span>لعدم ذكر إسم الممثل القانوني للمؤسسة</span></a></li><li id="738171"><a href="javascript:;"><span>لعدم تدخل النيابة العامة في الدعوى المتعلقة بقاصر</span></a></li><li id="738174"><a href="javascript:;"><span>لخلوه من البيانات الجوهرية</span></a></li><li id="738177"><a href="javascript:;"><span>للخطأ في تدوين التاريخ</span></a></li><li id="738179"><a href="javascript:;"><span>لصدوره من تشكيل قضائي غير الذي سمع المرافعة</span></a></li><li id="738197"><a href="javascript:;"><span>لعدم صلاحية القاضي لنظر الدعوى</span></a></li><li id="738207"><a href="javascript:;"><span>لصدوره دون وجود وثيقة تحكيم موقعة بين الطرفين</span></a></li></ul></li><li id="735839"><a href="javascript:;"><span>الدفع ببطلان إجراءات</span></a><ul id="treeV" class="tree-fahrs1"><li id="653706"><a href="javascript:;"><span>لعدم إتباع الطريق الذي رسمه القانون</span></a></li><li id="666904"><a href="javascript:;"><span>الحجز التحفظى</span></a></li><li id="655293"><a href="javascript:;"><span>ندب الخبير</span></a></li><li id="666844"><a href="javascript:;"><span>عمل الخبير لعدم الإعلان بالحضور</span></a></li></ul></li><li id="735842"><a href="javascript:;"><span>الدفع ببطلان الإعلان</span></a><ul id="treeV" class="tree-fahrs1"><li id="653704"><a href="javascript:;"><span>بالحكم الصادر في الدعوى</span></a></li><li id="657134"><a href="javascript:;"><span>بصحيفة الدعوى</span></a></li></ul></li><li id="667815"><a href="javascript:;"><span>الدفع ببطلان وثيقة التحكيم</span></a></li><li id="414098"><a href="javascript:;"><span>الدفع ببطلان أعمال الخبرة</span></a></li><li id="735815"><a href="javascript:;"><span>الدفع بعدم الإختصاص</span></a><ul id="treeV" class="tree-fahrs1"><li id="418480"><a href="javascript:;"><span>الدفع بعدم إختصاص المحكمة نوعياً بنظر الدعوى</span></a></li><li id="654530"><a href="javascript:;"><span>الدفع بعدم إختصاص المحكمة محلياً بنظر الدعوى</span></a></li><li id="655279"><a href="javascript:;"><span>الدفع بعدم اختصاص المحكمة ولائيا بنظر الدعوى</span></a></li><li id="656303"><a href="javascript:;"><span>الدفع بعدم إختصاص المحكمة قيمياً بنظر الدعوى</span></a></li><li id="655390"><a href="javascript:;"><span>الدفع بعدم الأختصاص دوليا بنظر النزاع</span></a></li></ul></li><li id="735879"><a href="javascript:;"><span>الدفع بالسقوط</span></a><ul id="treeV" class="tree-fahrs1"><li id="407489"><a href="javascript:;"><span>الدفع بسقوط الخصومة</span></a></li><li id="725225"><a href="javascript:;"><span>الدفع بسقوط الطعن للتقرير به خارج الميعاد القانوني</span></a></li><li id="725816"><a href="javascript:;"><span>الدفع بسقوط الحق في الطعن لاعتبار حكم الإستئناف منهي للخصومة</span></a></li></ul></li><li id="735903"><a href="javascript:;"><span>الدفع بإنقضاء الخصومة</span></a><ul id="treeV" class="tree-fahrs1"><li id="667337"><a href="javascript:;"><span>لبطلان الاعلان بصحيفة الدعوى</span></a></li><li id="725633"><a href="javascript:;"><span>بالتقادم</span></a></li></ul></li><li id="736215"><a href="javascript:;"><span>الدفع بالإحالة</span></a><ul id="treeV" class="tree-fahrs1"><li id="725004"><a href="javascript:;"><span>للإرتباط بين الدعويين</span></a></li></ul></li><li id="736227"><a href="javascript:;"><span>الدفع بالإنعدام</span></a><ul id="treeV" class="tree-fahrs1"><li id="653781"><a href="javascript:;"><span>إنعدام إنعقاد الخصومة لعدم الاعلان إعلاناً صحيحاً</span></a></li><li id="669567"><a href="javascript:;"><span>إنعدام الحكم المستأنف لعدم إنعقاد الخصومة</span></a></li></ul></li><li id="656423"><a href="javascript:;"><span>الدفع بإعتبار الدعوى كأن لم تكن</span></a></li><li id="654130"><a href="javascript:;"><span>الدفع بعدم جواز استئناف قرار قاضي التنفيذ</span></a></li></ul></li><li id="406891"><a href="javascript:;"><span>الدفوع الموضوعية</span></a><ul id="treeV" class="tree-fahrs1"><li id="736740"><a href="javascript:;"><span>الدفع بالبطلان</span></a><ul id="treeV" class="tree-fahrs1"><li id="626737"><a href="javascript:;"><span>الدفع ببطلان عقد الشراكة</span></a></li><li id="738124"><a href="javascript:;"><span>الدفع ببطلان عقد الكفالة</span></a></li><li id="655860"><a href="javascript:;"><span>لإغفال إخطار النيابة العامة بوجود قُصر في الدعوى</span></a></li><li id="657704"><a href="javascript:;"><span>الدفع بطلان تقرير الطبيب الشرعى</span></a></li><li id="667359"><a href="javascript:;"><span>الدفع ببطلان تقرير الخبير</span></a></li><li id="738166"><a href="javascript:;"><span>الدفع ببطلان الحكم لعدم إستناده على أسباب واضحة</span></a></li><li id="738167"><a href="javascript:;"><span>الدفع ببطلان الحكم لإغفال الطلبات</span></a></li><li id="741309"><a href="javascript:;"><span>الدفع ببطلان إجراءات الحلول</span></a></li></ul></li><li id="736741"><a href="javascript:;"><span>الدفع بالصورية</span></a><ul id="treeV" class="tree-fahrs1"><li id="652712"><a href="javascript:;"><span>الدفع بصورية العقد</span></a></li><li id="725819"><a href="javascript:;"><span>الدفع بصورية عقد العمل</span></a></li><li id="409213"><a href="javascript:;"><span>الدفع بصورية عقد البيع</span></a></li><li id="479104"><a href="javascript:;"><span>الدفع بصورية عقد التسهيلات المصرفية</span></a></li><li id="414724"><a href="javascript:;"><span>الدفع بصورية عقد الشركة</span></a></li><li id="738046"><a href="javascript:;"><span>الدفع بصورية عقد التسوية</span></a></li><li id="738053"><a href="javascript:;"><span>الدفع بصورية عقد التنازل</span></a></li><li id="738057"><a href="javascript:;"><span>الدفع بصورية الإتفاق</span></a></li><li id="738048"><a href="javascript:;"><span>الدفع بصورية الشيكات وإيصالات الأمانة</span></a></li></ul></li><li id="736754"><a href="javascript:;"><span>الدفع بسقوط الدعوى</span></a><ul id="treeV" class="tree-fahrs1"><li id="408871"><a href="javascript:;"><span>لعدم تقديم مقابل الوفاء</span></a></li><li id="410917"><a href="javascript:;"><span>بالتقادم</span></a></li></ul></li><li id="736756"><a href="javascript:;"><span>الدفع بسقوط الحق</span></a><ul id="treeV" class="tree-fahrs1"><li id="722658"><a href="javascript:;"><span>الدفع بسقوط الحق في الرجوع على المؤمن</span></a></li><li id="727599"><a href="javascript:;"><span>الدفع بسقوط الحق بالتقادم</span></a></li><li id="732793"><a href="javascript:;"><span>الدفع بسقوط الحق فى التأمين</span></a></li></ul></li><li id="737233"><a href="javascript:;"><span>الدفع بالإثبات</span></a><ul id="treeV" class="tree-fahrs1"><li id="409311"><a href="javascript:;"><span>الدفع بعدم جواز إثبات المديونية إلا بالكتابة</span></a></li><li id="655769"><a href="javascript:;"><span>الدفع بعدم جواز الإثبات بالبينة</span></a></li></ul></li><li id="737406"><a href="javascript:;"><span>الدفع بالوفاء</span></a><ul id="treeV" class="tree-fahrs1"><li id="726841"><a href="javascript:;"><span>بجزء من قيمة القرض</span></a></li><li id="727914"><a href="javascript:;"><span>ببدل الإيجار</span></a></li></ul></li><li id="737440"><a href="javascript:;"><span>الدفع بتحرير الشيك بمقابل</span></a><ul id="treeV" class="tree-fahrs1"><li id="725001"><a href="javascript:;"><span>مقابل شراء أسهم وسيارة</span></a></li><li id="725564"><a href="javascript:;"><span>على سبيل الضمان</span></a></li></ul></li><li id="736779"><a href="javascript:;"><span>الدفع بالجهالة</span></a></li><li id="410983"><a href="javascript:;"><span>الدفع بالتزوير</span></a></li><li id="657651"><a href="javascript:;"><span>الدفع بالإنكار</span></a></li><li id="413148"><a href="javascript:;"><span>الدفع بعدم وجود محل الهبة</span></a></li><li id="626739"><a href="javascript:;"><span>الدفع بصحة عقد الشراكة</span></a></li><li id="656461"><a href="javascript:;"><span>الدفع بالإخلال بالإلتزامات العقدية</span></a></li><li id="723768"><a href="javascript:;"><span>الدفع بإنتهاء علاقة العمل</span></a></li><li id="725005"><a href="javascript:;"><span>الدفع بعدم أمانة الحاضن</span></a></li><li id="725196"><a href="javascript:;"><span>الدفع بإخفاق الخبير في مهمته</span></a></li><li id="725197"><a href="javascript:;"><span>الدفع بعدم الدستورية</span></a></li><li id="656289"><a href="javascript:;"><span>الدفع بمخالفة شروط وثيقة التأمين على السيارة</span></a></li><li id="725937"><a href="javascript:;"><span>الدفع بإنتفاء الواقعة محل الإتهام</span></a></li><li id="726077"><a href="javascript:;"><span>الدفع بعدم الإستحقاق</span></a></li><li id="726839"><a href="javascript:;"><span>الدفع بإنقطاع التقادم المكسب للملكية</span></a></li><li id="726939"><a href="javascript:;"><span>الدفع بإنقطاع علاقة السببية</span></a></li><li id="726940"><a href="javascript:;"><span>الدفع بتحديد المسئولية</span></a></li><li id="727587"><a href="javascript:;"><span>الدفع بنشوز الزوجة</span></a></li><li id="727713"><a href="javascript:;"><span>الدفع بعدم الصلاحية</span></a></li><li id="728174"><a href="javascript:;"><span>الدفع بإنتفاء أو إنعدام المسئولية</span></a></li><li id="728320"><a href="javascript:;"><span>الدفع بعدم التغطية التأمينية للحادث</span></a></li><li id="728449"><a href="javascript:;"><span>الدفع بالتجريد</span></a></li><li id="728460"><a href="javascript:;"><span>الدفع بوجود عيوب خفية</span></a></li><li id="728461"><a href="javascript:;"><span>الدفع بعدم التنفيذ</span></a></li><li id="728685"><a href="javascript:;"><span>الدفع بالخروج من الكفالة</span></a></li><li id="729640"><a href="javascript:;"><span>الدفع بالتنازل عن الطعن لقبول الحكم المطعون فيه</span></a></li><li id="731490"><a href="javascript:;"><span>الدفع بحجية الحكم الصادر في الدعوى</span></a></li><li id="728341"><a href="javascript:;"><span>الدفع بأن ميعاد المؤجل من الصداق هو الطلاق أو الوفاة</span></a></li><li id="732691"><a href="javascript:;"><span>الدفع بعدم وجود ضمانات كافية للقرض</span></a></li><li id="726207"><a href="javascript:;"><span>الدفع بعدم الإخطار في الموعد المحدد</span></a></li></ul></li><li id="406582"><a href="javascript:;"><span>الدفع بعدم القبول</span></a><ul id="treeV" class="tree-fahrs1"><li id="737312"><a href="javascript:;"><span>الدفع بعدم قبول الدعوى</span></a><ul id="treeV" class="tree-fahrs1"><li id="413738"><a href="javascript:;"><span>لوجود شرط التحكيم</span></a></li><li id="417403"><a href="javascript:;"><span>لرفعها قبل الميعاد</span></a></li><li id="625974"><a href="javascript:;"><span>لرفعها بغير الطريق القانوني</span></a></li><li id="655431"><a href="javascript:;"><span>لبطلان إجراءات الأحالة</span></a></li><li id="655488"><a href="javascript:;"><span>لعدم اللجوء إلى طريق أمر الأداء</span></a></li><li id="657696"><a href="javascript:;"><span>لرفعها بعد الميعاد</span></a></li><li id="659430"><a href="javascript:;"><span>لعدم تقديم وثيقة التأمين</span></a></li><li id="659955"><a href="javascript:;"><span>لعدم توافر شرط الإستعجال</span></a></li><li id="660347"><a href="javascript:;"><span>لعدم اللجوء للجنة التوفيق والمصالحة</span></a></li><li id="660348"><a href="javascript:;"><span>لإنتهاء مدة الكفالة</span></a></li><li id="660442"><a href="javascript:;"><span>لعدم توافر أهلية التقاضي</span></a></li><li id="666759"><a href="javascript:;"><span>لمخالفة الأمر السامي الصادر من رئيس الدولة</span></a></li><li id="727428"><a href="javascript:;"><span>لعدم إستقرار ركن الخطأ</span></a></li><li id="725533"><a href="javascript:;"><span>لعدم الحصول على ضمانات كافية قبل نشوء الدين</span></a></li><li id="727715"><a href="javascript:;"><span>للخروج من الكفالة</span></a></li><li id="727688"><a href="javascript:;"><span>لعدم جواز الطعن بالنقض</span></a></li><li id="726938"><a href="javascript:;"><span>لسبق تعويض المرسل إليه</span></a></li><li id="731492"><a href="javascript:;"><span>لعدم إتباع الطريق المقرر للمطالبة بالحقوق العمالية</span></a></li><li id="737659"><a href="javascript:;"><span>لتوقيع صحيفة الدعوى من مدير المؤسسة</span></a></li><li id="737677"><a href="javascript:;"><span>لعدم تقديم الإحتجاج خلال الأجل المحدد بإتفاقية وارسو</span></a></li><li id="737687"><a href="javascript:;"><span>لسابقة الإتفاق على التحكيم</span></a></li><li id="737698"><a href="javascript:;"><span>لعدم الحصول على ضمانات للتسهيلات الممنوحة للشركة</span></a></li><li id="737720"><a href="javascript:;"><span>لإنتفاء الحق في المطالبة بالتعويض</span></a></li><li id="737726"><a href="javascript:;"><span>للمساهمة في وقوع الحادث</span></a></li><li id="737731"><a href="javascript:;"><span>لمنح القرض دون ضمانات أكيدة</span></a></li><li id="737736"><a href="javascript:;"><span>لخلو الأوراق مما يفيد اللجوء إلى دائرة العمل قبل رفعها</span></a></li><li id="737755"><a href="javascript:;"><span>لعدم حصول البنك على ضمانات كافية</span></a></li></ul></li><li id="737328"><a href="javascript:;"><span>الدفع بعدم قبول الإستئناف</span></a><ul id="treeV" class="tree-fahrs1"><li id="653641"><a href="javascript:;"><span>لعدم تقديم المذكرة الشارحة</span></a></li><li id="410032"><a href="javascript:;"><span>لرفعه بعد الميعاد</span></a></li><li id="726481"><a href="javascript:;"><span>لجهالة سبب الطعن</span></a></li></ul></li><li id="737263"><a href="javascript:;"><span>الدفع بعدم قبول الطعـن</span></a><ul id="treeV" class="tree-fahrs1"><li id="411821"><a href="javascript:;"><span>لعدم الإختصام</span></a></li><li id="412098"><a href="javascript:;"><span>لقلة النصاب</span></a></li><li id="413116"><a href="javascript:;"><span>لعدم توقيع صحيفته من المحامى الأصيل</span></a></li><li id="417047"><a href="javascript:;"><span>لعدم ذكر أسماء الورثة</span></a></li><li id="737921"><a href="javascript:;"><span>لعدم اختصام النيابة العامة في الطعن</span></a></li><li id="655590"><a href="javascript:;"><span>لتوقيع الصحيفة من محام غير المطبوع أسمه على صحيفة الدعوى</span></a></li><li id="655673"><a href="javascript:;"><span>لمخالفته للأسس القانونية</span></a></li><li id="655707"><a href="javascript:;"><span>لعدم تقديم سند وكالة المحامى</span></a></li><li id="655773"><a href="javascript:;"><span>لخلو الصحيفة من بعض البيانات الجوهرية</span></a></li><li id="655776"><a href="javascript:;"><span>لكون وكيل الخصم كان وكيلا عن الطاعن في مراحل الدعوى</span></a></li><li id="656210"><a href="javascript:;"><span>لقبول الخصم بالحكم</span></a></li><li id="656293"><a href="javascript:;"><span>لتقديمه أو توقيعه من محام غير مقبول أمام المحكمة الإتحادية العليا</span></a></li><li id="656297"><a href="javascript:;"><span>لقيامه على أسباب موضوعية</span></a></li><li id="656977"><a href="javascript:;"><span>لوروده علي غير محل</span></a></li><li id="657669"><a href="javascript:;"><span>لبطلان صحيفته</span></a></li><li id="723822"><a href="javascript:;"><span>لإعلان الحكم المطعون فيه بالتنفيذ</span></a></li><li id="725810"><a href="javascript:;"><span>لتقديمه أو التقرير به خارج الميعاد القانوني</span></a></li><li id="726069"><a href="javascript:;"><span>لعدم تقديم المحامى المناب سند وكالته عن المحامى الموكل فى الطعن</span></a></li><li id="726075"><a href="javascript:;"><span>لعدم إعتباره طرفاً في الخصومة</span></a></li><li id="726824"><a href="javascript:;"><span>لتذييل صحيفته بتوقيع غير مقروء</span></a></li><li id="726833"><a href="javascript:;"><span>لكون الطعن منصب على الحكم الابتدائى وليس الاستئنافى</span></a></li><li id="737916"><a href="javascript:;"><span>لإنتفاء الصفة</span></a></li><li id="737993"><a href="javascript:;"><span>لتوجيه المطاعن الواردة في صحيفة الطعن إلى الحكم المستأنف</span></a></li><li id="738003"><a href="javascript:;"><span>لجهالة الصحيفة</span></a></li><li id="738027"><a href="javascript:;"><span>لعدم جواز الطعن على رفض طلب تصحيح الخطأ إلا مع الحكم النهائي</span></a></li><li id="738028"><a href="javascript:;"><span>لعدم جواز الطعن بالنقض في إجراءات التنفيذ</span></a></li><li id="738127"><a href="javascript:;"><span>لبطلان إجراءاته</span></a></li><li id="741171"><a href="javascript:;"><span>لرفعه بعد الميعاد</span></a></li></ul></li><li id="735960"><a href="javascript:;"><span>الدفع بعدم جواز الطعن</span></a><ul id="treeV" class="tree-fahrs1"><li id="413121"><a href="javascript:;"><span>لكون الحكم صادر فى إجراءات التنفيذ</span></a></li><li id="653617"><a href="javascript:;"><span>لكون الحكم المطعون فيه غير منهي للخصومة</span></a></li><li id="664407"><a href="javascript:;"><span>لقبول الحكم وإتخاذ إجراءات تنفيذه</span></a></li><li id="723970"><a href="javascript:;"><span>لصدور الحكم بناء على يمين حاسمة</span></a></li><li id="726190"><a href="javascript:;"><span>في الحكم بأيٍ من طرق الطعن</span></a></li><li id="727113"><a href="javascript:;"><span>لعدم صدور حكم منهى للخصومة</span></a></li><li id="737806"><a href="javascript:;"><span>لكون الحكم أصبح باتاً</span></a></li><li id="737809"><a href="javascript:;"><span>على الأحكام الصادرة في المواد المستعجلة بطريق النقض</span></a></li><li id="737814"><a href="javascript:;"><span>لعدم خضوع الحكم للطعن بطريق النقض</span></a></li><li id="737845"><a href="javascript:;"><span>لصدور الحكم بشأن قرار قاضي التنفيذ في إجراءات الحجز التنفيذي</span></a></li><li id="737855"><a href="javascript:;"><span>لتصحيح الخطأ المادي الحسابي الذي وقع فيه الحكم</span></a></li><li id="737863"><a href="javascript:;"><span>لصدور الحكم في دعوى قيمتها أقل من مائتي ألف درهم</span></a></li><li id="738337"><a href="javascript:;"><span>لعدم سلوك سبيل التظلم من الإلتماس</span></a></li><li id="738343"><a href="javascript:;"><span>بطريق إلتماس إعادة النظر في الأحكام الصادرة من محكمة النقض برفض الطعن</span></a></li><li id="741278"><a href="javascript:;"><span>لسبق الفصل فيها</span></a></li></ul></li><li id="737379"><a href="javascript:;"><span>الدفع بعدم جواز نظر الدعوى</span></a><ul id="treeV" class="tree-fahrs1"><li id="411650"><a href="javascript:;"><span>لسبق الفصل فيها</span></a></li></ul></li><li id="737317"><a href="javascript:;"><span>الدفع بعدم سماع الدعوى</span></a><ul id="treeV" class="tree-fahrs1"><li id="410915"><a href="javascript:;"><span>لحسم النزاع صلحا</span></a></li><li id="413114"><a href="javascript:;"><span>لمرور الزمان</span></a></li><li id="655452"><a href="javascript:;"><span>لعدم اللجوء لدائرة العمل المختصة</span></a></li><li id="657471"><a href="javascript:;"><span>لسبق الصلح فيها</span></a></li><li id="725006"><a href="javascript:;"><span>لعدم إنكار الدين</span></a></li><li id="725817"><a href="javascript:;"><span>لعدم صدور حكم منهي للخصومة</span></a></li><li id="726810"><a href="javascript:;"><span>لرد ما تم قبضه من محكمة التنفيذ</span></a></li></ul></li><li id="653158"><a href="javascript:;"><span>الدفع بإنتفاء الصفة</span></a></li><li id="406585"><a href="javascript:;"><span>الدفع بالرفع علي غير ذي صفة</span></a></li><li id="410497"><a href="javascript:;"><span>الدفع بالرفع من غير ذي صفة</span></a></li><li id="737923"><a href="javascript:;"><span>الدفع بإنتفاء المصلحة</span></a></li><li id="729183"><a href="javascript:;"><span>الدفع بعدم قبول الطلب</span></a></li></ul></li></ul>*@


                
                 @*<ul id="tree2" class="tree-fahrs1">
                    <li>
                        <a href="#">الأحكام الصادرة في طلبات رجال القضاء</a>
                        <ul>
                            <li>
                                <a href="javascript:;">
                                    التزام  الغاصب برد ما يجنيه من غلة العين المغصوبة
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    الخصوم

                                    فى الطلب
                                </a>
                                <ul>
                                    <li>
                                        <a href="#">
                                            أعمال إدارية
                                        </a>
                                        <ul>
                                            <li>
                                                <a href="#">أعمال إدارية</a>
                                            </li>
                                            <li>
                                                <a href="#">أعمال السيادة</a>
                                            </li>
                                            <li>
                                                <a href="#">أعمال إدارية</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">
                                            نزع الملكية

                                            للمنفعة العامة
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;">

                                    اعذار
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;">
                            الأحكام الصادرة في المواد المدنية والتجارية والأحوال الشخصية
                        </a>
                        <ul>
                            <li>
                                <a href="javascript:;">
                                    رسوم الشهر العقارى
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    رد

                                    الرسوم
                                </a>
                                <ul>
                                    <li>
                                        <a href="javascript:;">رد الرسوم</a>
                                        <ul>
                                            <li>
                                                <a href="javascript:;">رى وصرف</a>
                                            </li>
                                            <li>
                                                <a href="javascript:;">التزام الحائز سئ النية برد الثمار</a>
                                            </li>
                                            <li>
                                                <a href="javascript:;">التزام الحائز سئ النية برد الثمار</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="javascript:;">ثمرة العين المغصوبة</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    دعوى الريع - الطلبات فيها
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>*@
            </div>
            <div class="tab-pane fade" id="manaeTab">
                manaeTab
                @*<ul id="tree3" class="tree-fahrs">
                    <li>
                        <a href="#">الأحكام الصادرة في طلبات رجال القضاء</a>
                        <ul>
                            <li>
                                <a href="javascript:;">
                                    التزام  الغاصب برد ما يجنيه من غلة العين المغصوبة
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    الخصوم

                                    فى الطلب
                                </a>
                                <ul>
                                    <li>
                                        <a href="#">
                                            أعمال إدارية
                                        </a>
                                        <ul>
                                            <li>
                                                <a href="#">أعمال إدارية</a>
                                            </li>
                                            <li>
                                                <a href="#">أعمال السيادة</a>
                                            </li>
                                            <li>
                                                <a href="#">أعمال إدارية</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">
                                            نزع الملكية

                                            للمنفعة العامة
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;">

                                    اعذار
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;">
                            الأحكام الصادرة في المواد المدنية والتجارية والأحوال الشخصية
                        </a>
                        <ul>
                            <li>
                                <a href="javascript:;">
                                    رسوم الشهر العقارى
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    رد

                                    الرسوم
                                </a>
                                <ul>
                                    <li>
                                        <a href="javascript:;">رد الرسوم</a>
                                        <ul>
                                            <li>
                                                <a href="javascript:;">رى وصرف</a>
                                            </li>
                                            <li>
                                                <a href="javascript:;">التزام الحائز سئ النية برد الثمار</a>
                                            </li>
                                            <li>
                                                <a href="javascript:;">التزام الحائز سئ النية برد الثمار</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="javascript:;">ثمرة العين المغصوبة</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    دعوى الريع - الطلبات فيها
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>*@
            </div>
            <div class="tab-pane fade" id="systemTab">
                systemTab
                @*<ul id="tree4" class="tree-fahrs">
                    <li>
                        <a href="#">الأحكام الصادرة في طلبات رجال القضاء</a>
                        <ul>
                            <li>
                                <a href="javascript:;">
                                    التزام  الغاصب برد ما يجنيه من غلة العين المغصوبة
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    الخصوم

                                    فى الطلب
                                </a>
                                <ul>
                                    <li>
                                        <a href="#">
                                            أعمال إدارية
                                        </a>
                                        <ul>
                                            <li>
                                                <a href="#">أعمال إدارية</a>
                                            </li>
                                            <li>
                                                <a href="#">أعمال السيادة</a>
                                            </li>
                                            <li>
                                                <a href="#">أعمال إدارية</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">
                                            نزع الملكية

                                            للمنفعة العامة
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;">

                                    اعذار
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;">
                            الأحكام الصادرة في المواد المدنية والتجارية والأحوال الشخصية
                        </a>
                        <ul>
                            <li>
                                <a href="javascript:;">
                                    رسوم الشهر العقارى
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    رد

                                    الرسوم
                                </a>
                                <ul>
                                    <li>
                                        <a href="javascript:;">رد الرسوم</a>
                                        <ul>
                                            <li>
                                                <a href="javascript:;">رى وصرف</a>
                                            </li>
                                            <li>
                                                <a href="javascript:;">التزام الحائز سئ النية برد الثمار</a>
                                            </li>
                                            <li>
                                                <a href="javascript:;">التزام الحائز سئ النية برد الثمار</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="javascript:;">ثمرة العين المغصوبة</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    دعوى الريع - الطلبات فيها
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>*@
            </div>
            @*<div class="form-group radio_buttons optional col-md-6 ">
                <label class="radio_buttons  col-sm-3  " for="serachText">بحث فى الفهرس :  </label>
                <div class="col-lg-8 col-md-8 search">
                    <div class="input-group">
                        <input type="text" placeholder="" class="form-control">
                        <span class="input-group-btn">
                            <a href="#" class="btn btn-success">بحث</a>
                        </span>
                    </div>
                </div>
            </div>*@
            <hr class="spacer" />
        </div>
    </div>
    <!-- /tabs -->
    <hr class="spacer" />
    
    <hr class="spacer" />
</div>



