
@*in futute will be html template*@
<ul>
    <li ng-repeat="n in list |orderBy:'itemcatgID'" ng-click="delete(n)" class="Choice-filter-{{n.itemcatgID}}">
        <a  href="javascript:;" >
            {{n.itemname}}  @*<span class="number">{{n.itemcount}}</span>*@
            <i class="fa fa-close"></i>
        </a>
    </li>
</ul>



@*<ul>
    <li id="" class="">
        <a id="" href="javascript:;" class="">
            النقض المدني  <span class="number">(3692)</span>
            <i class="fa fa-close"></i>
        </a>
    </li>
    <li id="" class="">
        <a id="" href="javascript:;" class="">
            النقض الجنائى <span class="number">(92)</span>
            <i class="fa fa-close"></i>
        </a>
    </li>
</ul>*@


