@{
    Layout = null;
}
<div class="col-lg-10 col-md-12">
    <form class="search-form form-horizontal" name="form" ng-submit="search()" novalidate>
        <div class="form-group radio_buttons optional">
            <label class="radio_buttons  col-sm-3 "> </label>
            <c-radio-match-search for-id="gerealsearch"
                                  model-val="Inputs.textType" 
                                  first-name="مطابق للجملة" 
                                  sec-name="مطابق لجميع الكلمات" >

            </c-radio-match-search>
        </div>
        <div class="form-group ">
            <label for="horizontal_search" class="col-lg-3 col-sm-3 control-label bg-color title">
                <abbr ng-show="form.$submitted && form.text.$error.required" title="required">*</abbr>
                بحث عام :
            </label>
            <div class="col-sm-9 search">
                <div class="input-group">
                    <input ng-model="Inputs.text" name="text" type="text" placeholder="" class="form-control" required />
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-success"
                                ng-disabled="form.text.$error.required">إبحث</button>

                    </span>
                </div>
            </div>
        </div>
    </form>
</div>
<hr class="spacer" />
