<div class="inner-tab">

    <hr class="spacer" />
    <div class="tabbable tabs-right">
        <ul class="nav nav-tabs">
             <li class="active"><a href="#GeneralTab" data-toggle="tab">الفهرس العام</a></li>
            <li><a href="#defoaTab" data-toggle="tab">بحث بالدفوع </a></li>
            <li><a href="#manaeTab" data-toggle="tab">بحث بالمناعي</a></li>
            <li><a href="#systemTab" data-toggle="tab">النظام العام</a></li>
        </ul>
        <div class="tab-content">
           <div class="input-group">
               <div class="select-option form-group">
                   <form class="search-form form-inline search" role="form">

                
                           <label class="control-label bg-color title" for="ddlCountriesSearch">اختر الدولة :</label>&nbsp;
                        
                               <select name="d" id="ddlCountriesSearch" class="string   form-control" tabindex="3">
                                   <option value="1" selected="selected"> جمهورية مصر العربية</option>
                                   <option value="2">المملكة الأردنية الهاشمية</option>
                                   <option value="3">الجمهورية اليمنية</option>
                                   <option value="4">دولة الإمارات العربية المتحدة</option>
                                   <option value="20">إمارة أبوظبي</option>
                                   <option value="21">إمارة رأس الخيمة</option>
                                   <option value="1007">إمارة أم القيوين</option>
                               </select>
                        &nbsp; &nbsp;

                           <label class="control-label bg-color title" for="ddmahkamSearch">المحكمة :</label>&nbsp;
                  
                               <select name="d" id="ddmahkamSearch" class="string search  form-control" tabindex="3">
                                   <option value="101">النقض المدني</option>
                                   <option value="102">النقض الجنائي</option>
                                   <option value="103">الإدارية العليا</option>
                                   <option value="104">الدستورية العليا</option>
                                   <option value="105">المحكمة العليا</option>
                                   <option value="106">القضاء الإداري</option>
                                   <option value="464">المحاكم الإقتصادية</option>
                                   <option value="677">الأحكام المتعارضة</option>
                               </select>
                       &nbsp; &nbsp;
                       @*<label class="control-label bg-color title" >بحث فى الفهرس :  </label>*@
                       <input type="text"  class="form-control " placeholder="بحث فى الفهرس " style="width:auto;">
                       <input type="submit" value="بـحـث" class="btn butt-yellow">
                 </form>
               </div>

           </div>
                 <div class="tab-pane fade active in" id="GeneralTab">
            
                    <ul id="tree1" class="tree-fahrs">
                        <li>
                            <a href="#">الأحكام الصادرة في طلبات رجال القضاء</a>
                          <ul>
                                <li>
                                    <a href="javascript:;">
                                        التزام  الغاصب برد ما يجنيه من غلة العين المغصوبة
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        الخصوم

                                        فى الطلب
                                    </a>
                                    <ul>
                                        <li>
                                            <a href="#">
                                                أعمال إدارية
                                            </a>
                                            <ul>
                                                <li>
                                                    <a href="#">أعمال إدارية</a>
                                                </li>
                                                <li>
                                                    <a href="#">أعمال السيادة</a>
                                                </li>
                                                <li>
                                                    <a href="#">أعمال إدارية</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">
                                                نزع الملكية

                                                للمنفعة العامة
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:;">

                                        اعذار
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:;">
                                الأحكام الصادرة في المواد المدنية والتجارية والأحوال الشخصية
                            </a>
                            <ul>
                                <li>
                                    <a href="javascript:;">
                                        رسوم الشهر العقارى
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        رد

                                        الرسوم
                                    </a>
                                    <ul>
                                        <li>
                                            <a href="javascript:;">رد الرسوم</a>
                                            <ul>
                                                <li>
                                                    <a href="javascript:;">رى وصرف</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;">التزام الحائز سئ النية برد الثمار</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;">التزام الحائز سئ النية برد الثمار</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="javascript:;">ثمرة العين المغصوبة</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        دعوى الريع - الطلبات فيها
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
          
            <div class="tab-pane fade " id="defoaTab">
                <ul id="tree2" class="tree-fahrs">
                    <li>
                        <a href="#">الأحكام الصادرة في طلبات رجال القضاء</a>
                        <ul>
                            <li>
                                <a href="javascript:;">
                                    التزام  الغاصب برد ما يجنيه من غلة العين المغصوبة
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    الخصوم

                                    فى الطلب
                                </a>
                                <ul>
                                    <li>
                                        <a href="#">
                                            أعمال إدارية
                                        </a>
                                        <ul>
                                            <li>
                                                <a href="#">أعمال إدارية</a>
                                            </li>
                                            <li>
                                                <a href="#">أعمال السيادة</a>
                                            </li>
                                            <li>
                                                <a href="#">أعمال إدارية</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">
                                            نزع الملكية

                                            للمنفعة العامة
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;">

                                    اعذار
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;">
                            الأحكام الصادرة في المواد المدنية والتجارية والأحوال الشخصية
                        </a>
                        <ul>
                            <li>
                                <a href="javascript:;">
                                    رسوم الشهر العقارى
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    رد

                                    الرسوم
                                </a>
                                <ul>
                                    <li>
                                        <a href="javascript:;">رد الرسوم</a>
                                        <ul>
                                            <li>
                                                <a href="javascript:;">رى وصرف</a>
                                            </li>
                                            <li>
                                                <a href="javascript:;">التزام الحائز سئ النية برد الثمار</a>
                                            </li>
                                            <li>
                                                <a href="javascript:;">التزام الحائز سئ النية برد الثمار</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="javascript:;">ثمرة العين المغصوبة</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    دعوى الريع - الطلبات فيها
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="tab-pane fade" id="manaeTab">
                <ul id="tree3" class="tree-fahrs">
                    <li>
                        <a href="#">الأحكام الصادرة في طلبات رجال القضاء</a>
                        <ul>
                            <li>
                                <a href="javascript:;">
                                    التزام  الغاصب برد ما يجنيه من غلة العين المغصوبة
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    الخصوم

                                    فى الطلب
                                </a>
                                <ul>
                                    <li>
                                        <a href="#">
                                            أعمال إدارية
                                        </a>
                                        <ul>
                                            <li>
                                                <a href="#">أعمال إدارية</a>
                                            </li>
                                            <li>
                                                <a href="#">أعمال السيادة</a>
                                            </li>
                                            <li>
                                                <a href="#">أعمال إدارية</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">
                                            نزع الملكية

                                            للمنفعة العامة
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;">

                                    اعذار
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;">
                            الأحكام الصادرة في المواد المدنية والتجارية والأحوال الشخصية
                        </a>
                        <ul>
                            <li>
                                <a href="javascript:;">
                                    رسوم الشهر العقارى
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    رد

                                    الرسوم
                                </a>
                                <ul>
                                    <li>
                                        <a href="javascript:;">رد الرسوم</a>
                                        <ul>
                                            <li>
                                                <a href="javascript:;">رى وصرف</a>
                                            </li>
                                            <li>
                                                <a href="javascript:;">التزام الحائز سئ النية برد الثمار</a>
                                            </li>
                                            <li>
                                                <a href="javascript:;">التزام الحائز سئ النية برد الثمار</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="javascript:;">ثمرة العين المغصوبة</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    دعوى الريع - الطلبات فيها
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="tab-pane fade" id="systemTab">
                <ul id="tree4" class="tree-fahrs">
                    <li>
                        <a href="#">الأحكام الصادرة في طلبات رجال القضاء</a>
                        <ul>
                            <li>
                                <a href="javascript:;">
                                    التزام  الغاصب برد ما يجنيه من غلة العين المغصوبة
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    الخصوم

                                    فى الطلب
                                </a>
                                <ul>
                                    <li>
                                        <a href="#">
                                            أعمال إدارية
                                        </a>
                                        <ul>
                                            <li>
                                                <a href="#">أعمال إدارية</a>
                                            </li>
                                            <li>
                                                <a href="#">أعمال السيادة</a>
                                            </li>
                                            <li>
                                                <a href="#">أعمال إدارية</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">
                                            نزع الملكية

                                            للمنفعة العامة
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;">

                                    اعذار
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;">
                            الأحكام الصادرة في المواد المدنية والتجارية والأحوال الشخصية
                        </a>
                        <ul>
                            <li>
                                <a href="javascript:;">
                                    رسوم الشهر العقارى
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    رد

                                    الرسوم
                                </a>
                                <ul>
                                    <li>
                                        <a href="javascript:;">رد الرسوم</a>
                                        <ul>
                                            <li>
                                                <a href="javascript:;">رى وصرف</a>
                                            </li>
                                            <li>
                                                <a href="javascript:;">التزام الحائز سئ النية برد الثمار</a>
                                            </li>
                                            <li>
                                                <a href="javascript:;">التزام الحائز سئ النية برد الثمار</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="javascript:;">ثمرة العين المغصوبة</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    دعوى الريع - الطلبات فيها
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            @*<div class="form-group radio_buttons optional col-md-6 ">
                <label class="radio_buttons  col-sm-3  " for="serachText">بحث فى الفهرس :  </label>
                <div class="col-lg-8 col-md-8 search">
                    <div class="input-group">
                        <input type="text" placeholder="" class="form-control">
                        <span class="input-group-btn">
                            <a href="#" class="btn btn-success">بحث</a>
                        </span>
                    </div>
                </div>
            </div>*@
            <hr class="spacer" />
        </div>
    </div>
    <!-- /tabs -->
    <hr class="spacer" />
    
    <hr class="spacer" />
</div>



