<div class="col-lg-6 col-md-12 col-side">
    <div class="form-group   ">

        <label class="col-lg-3 col-sm-3 control-label bg-color"></label>
        <div class="col-sm-9 search">
            <label class="checkbox-inline">
                <input type="checkbox" checked="" value="option1" id="inlineCheckbox1">
                عنوان التشريع
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" value="option2" id="inlineCheckbox2">
                نصوص المواد
            </label>

        </div>
    </div>

    <div class="form-group radio_buttons optional ">
        <label class="radio_buttons  col-sm-3  " for="serachText">نص التشريع :  </label>
        <div class="col-lg-9 col-md-9 col-sm-9 search">
            <div class="multiple-form-group input-group">
                <div class="input-group-btn input-group-select">
                    <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button">
                        <span class="concept">مطابق للجملة</span>
                        <span class="caret"></span>
                    </button>
                    <ul role="menu" class="dropdown-menu">
                        <li>
                            <a href="javascript:;">مطابق للجملة</a>
                        </li>
                        <li> <a href="javascript:;">مطابق جميع الكلمات</a></li>
                    </ul>
                </div>
                <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty" ng-model="inputText" id="serachText">
            </div>
        </div>
    </div>
 
    <hr class="spacer" />

    <div class="form-group   ">
        <label for="ddlCountries2" class="col-lg-3 col-md-3 col-sm-3 control-label bg-color title"> اختار الدولة :</label>
        <div class="col-md-4 col-sm-4 search">
            <select tabindex="3" class="string   form-control" id="ddlCountries2" name="d">
                <option selected="selected" value="1">جمهورية مصر العربية</option>
                <option value="2">المملكة الأردنية الهاشمية</option>
                <option value="3">الجمهورية اليمنية</option>
                <option value="4">دولة الإمارات العربية المتحدة</option>
                <option value="20">إمارة أبوظبي</option>
                <option value="21">إمارة رأس الخيمة</option>
                <option value="619">إمارة عجمان</option>
                <option value="620">إمارة الشارقة</option>
                <option value="1005">إمارة الفجيرة</option>
                <option value="8">حكومة دبي</option>
                <option value="5">دولة الكويت</option>
                <option value="6">مملكة البحرين</option>
                <option value="7">دولة قطر</option>
                <option value="9">المملكة العربية السعودية</option>
                <option value="10">سلطنة عمان</option>
                <option value="11">دولة ليبيا</option>
                <option value="12">الجمهورية التونسية</option>
                <option value="13">المملكة المغربية</option>
                <option value="14">جمهورية السودان</option>
                <option value="15">الجمهورية العربية السورية</option>
                <option value="16">جمهورية العراق</option>
                <option value="17">دولة فلسطين</option>
                <option value="18">الجمهورية الجزائرية</option>
                <option value="19">الجمهورية اللبنانية</option>
                <option value="1007">إمارة أم القيوين</option>
            </select>
        </div>
        <div class="col-md-5 col-sm-5">
            <label for="numberTashree3" class="col-lg-5 col-md-5 col-sm-6 control-label bg-color title">   رقم التشريع :  </label>
            <div class="col-md-7 col-sm-6 search" style="padding-left:0px; padding-right:0px;">
                <input type="text" placeholder="" name="horizontal[search]" id="numberTashree3" class="string search  form-control">
            </div>
        </div>
    </div>
    <hr class="spacer" />
    <div class="form-group   ">
        <label for="yearTashree3" class="col-lg-3 col-md-3 col-sm-3 control-label bg-color title">  سنة التشريع  : </label>
        <div class="col-md-4 col-sm-4 search">
            <input type="text" placeholder="" name="horizontal[search]" id="yearTashree3" class="string   form-control">
        </div>
        <div class="col-md-5 col-sm-5">
            <label for="numberMada" class="col-lg-5 col-md-5 col-sm-6 control-label bg-color title"> رقم المادة  : </label>
            <div class="col-md-7 col-sm-6 search" style="padding-left:0px; padding-right:0px;">
                <input type="text" placeholder="" name="horizontal[search]" id="numberMada" class="string   form-control">
            </div>
        </div>
    </div>
    <hr class="spacer" />


    <div class="form-group   ">
        <label class="col-lg-3 col-md-3 col-sm-3 "> </label>
        <div class="col-sm-9 search">
            <input type="submit" value="بـحـث" name="commit" class="btn butt-yellow">
        </div>
    </div>        
</div>
@*<div class="col-lg-2 "></div>*@
<hr class="spacer" />