
@{ 
    Layout = null;
}

<nav class="navbar ">

    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
            <span class="sr-only">Toggle navigation</span>
            <span>تحكم فى الظهور <i class="caret"></i></span>
        </button>

    </div>
    <div class="collapse navbar-collapse" id="navbar">
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-expanded="false"><i class="glyphicon glyphicon-floppy-disk"></i> حفظ الصفحة <span class="badge">20</span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#"><i class="glyphicon glyphicon-heart"></i> أضف للمفضلة </a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-folder-close"></i> أضف للأرشيف </a></li>
                    <li><a href="#"><i class="fa fa-fw fa-user-plus"></i> مشاركة مع أصدقائي </a></li>

                </ul>
            </li>

            <li class="active">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">  <i class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></i> ترتيب النتائج <span class="caret"></span> 
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#"><i class="fa fa-random"></i> افتراضي</a></li>
                    <li><a href="#"><i class="fa fa-qrcode"></i> رقم الحكم</a></li>
                    <li><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>  السنة القضائية</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-time"></i> تاريخ الحكم</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-font "></i> حجم الخط  </a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">كبير</a></li>
                    <li><a href="#">متوسط</a></li>
                    @*<li class="divider"></li>*@
                    <li><a href="#">صغير</a></li>

                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-repeat" aria-hidden="true"></i>
                    الوضع الافتراضي

                </a>
            </li>
        </ul>
        <div class="layout-view pull-left ">
            <ul>
                <li class="list pull-right "><label>طريقة العرض :</label></li>
                <li class="list pull-right "><a rel="nofollow" href="#auto" class="active"><i class="fa fa-align-justify fa-2x "></i></a>  </li>
                <li class="grid pull-right"><a rel="nofollow" href="#lists"><i class="fa fa-th fa-2x"></i></a> </li>
            </ul>

        </div>
    </div>

</nav>
<hr class="spacer" />