@model Eastlaws.GeneralSearchVM


Hello From General Search Controller 


<form method="post" action="/Ahkam/GeneralSearch/">

    Filter :
    <input type="text" name="Filter" />

    <br />

    <input type="number" name="Match" value="2" asp-for="Match" />
    <br />

    <input type="text" name="Test"  />

    <button type="submit">Send </button>
</form>




