
@{
    Layout = null;
}
<html>
<head>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" rel="stylesheet" />
    <link href="~/content/css/main.css" rel="stylesheet" />
    <link href="~/content/css/responsive.css" rel="stylesheet" />
    <script type="text/javascript">
        $(document).ready(function () {
            $("#myModal").modal('show');
        });
    </script>

</head>
<body>

    <a href="#myModal" class="btn btn-lg btn-primary" data-toggle="modal">صورة الحكم</a>
    <div id="myModal" class="modal fade">
        <div class="modal-dialog ">
      
            <div class="modal-content">
             
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">  دولة الإمارات العربية المتحدة - المحكمة الإتحادية العليا - الأحكام الجزائية الطعن رقم 416 لسنة 2015 قضائية بتاريخ 2015-12-28 </h4>
                </div>

                        <div class="modal-body">
                            <img src="~/content/images/canvas.png" class="img-responsive " />

                        </div>
                        <div class="modal-footer">
                      
                            <span id="imgChooseTitle">إختار الصورة </span>
                            <select class="small_txt_box" id="ddlImageChanger">
                                <option value="1.1.269401.1200.936">1</option>
                                <option value="1.1.269402.794.1400">2</option>
                                <option value="1.1.269403.1200.606">3</option>
                            </select>
                          
                            <button type="button" class="btn btn-primary">تحميل</button>
                            <button type="button" class="btn btn-primary">مقاس الشاشة</button>
                            <button type="button" class="btn btn-primary">تكبير</button>
                            <button type="button" class="btn btn-primary">تصغير</button>
                            <button type="button" class="btn btn-primary">إلتفاف</button>
                            <button type="button" class="btn btn-primary">حفظ</button>
                            <button type="button" class="btn btn-primary">طباعة الحالى</button>
                            <button type="button" class="btn btn-primary">طباعة الكل</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">اغلاق</button>
                     
                        </div>
                </div>
        </div>
    </div>
</body>
</html>