@using Eastlaws.Services;

@{
    Layout = null;
    List<AhkamTasfeyaSelection> ahkamTasfeya = ViewBag.ahkamTasfeya;
}

@foreach (var item in ahkamTasfeya)
{
    <span style="border:solid 1px blue">@item.CategoryID  &nbsp;&nbsp;&nbsp; @item.Parameter</span>
}