
@{
    Layout = "~/Views/Shared/_LayoutInner.cshtml";
}
<div class="title-module">
    <h2> <span class="main-title">منظومة أحكام المحاكم العربية </span></h2>
</div>
<hr class="spacer" />
@Html.Partial("_ManzomatLinks")

<div ng-app="ahkamViewApp">
    <div class="main inner views" ng-controller="ahkamViewCtrl">


        <div class="col-lg-9 col-md-8  col-sm-8 " id="view">


            <div class="search-inner  ">

                <div class=" ">
                    <form class="search-form form-horizontal form-inline">
                        <div class="form-group col-sm-6 search">
                            <div class="multiple-form-group input-group">
                                <div class="input-group-btn input-group-select">
                                    <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button">
                                        <span class="concept">مطابق للجملة</span>
                                        <span class="caret"></span>
                                    </button><ul role="menu" class="dropdown-menu">
                                        <li>
                                            <a href="javascript:;">مطابق للجملة</a>
                                        </li>
                                        <li> <a href="javascript:;">مطابق جميع الكلمات</a></li>
                                    </ul>
                                </div>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group  search">
                            <select name="" id="" class="string search form-control " tabindex="3">
                                <option value="0">تصفية الحكم</option>
                                <option value="1">تحديد الكلمة</option>
                            </select>
                        </div>
                        <div class="form-group  search">
                            <input type="submit" class="btn btn-success" name="commit" value="بـحـث">


                        </div>
                        <hr class="spacer" />

                    </form>
                </div>
                <hr class="spacer" />
            </div>
            <div class="format-result">
                @Html.Partial("_toolbar")
            </div>



            <div class="view-law">
                <div class="nav-control pull-left text-left">
                    <ul>
                        <li><a data-original-title=" صورة الحكم" href="#" data-toggle="tooltip" data-placement="top" class="color-tooltip" title=""><i class="fa fa-camera"></i><span class="name-nav"> صورة الحكم</span></a></li>
                        <li><a data-original-title=" طباعة" href="#" data-toggle="tooltip" data-placement="top" class="color-tooltip printing" title="" PrintID="view"><i class="fa fa-print"></i><span class="name-nav"> طباعة </span></a></li>
                    </ul>
                </div>
                <h1>
                    <img ng-if="AhkamList.CountryFlagPic!= null" src="~/Content/images/Flags/Small/{{AhkamList.CountryFlagPic}}" />
                    {{AhkamList.FullName}}
                </h1>

                <div ng-repeat="data in FakaratList" data-fakraID="{{data.ID}}">
                    <h4 ng-if="data.FakraNo <= 1" class="fakr-title">
                        <i class="fa fa-file" aria-hidden="true"></i>
                        <span> {{data.Title}}</span>
                    </h4>

                    <h4 ng-if="data.FakraNo >= 1" class="number-title">
                        <span> {{data.FakraNo}}</span>
                    </h4>

                    <p class="FakraMogaz">
                        {{data.MogazText}}
                    </p>

                    <p class="fakra-text">
                      {{data.Text}}
                    </p>

                    <p>
                        @*<span ng-repeat="d in FaharesList | fehressRelate:data.ID" style="border:solid #675650 2px;margin:1px;">
                            {{d.Name}}
                        </span>*@

                        <span ng-repeat="d in fehressRelate(data.ID) track by $index" style="border:solid #675650 2px;margin:1px;" data-fehessrelateID="{{d.ID}}">
                            {{d.Name}}
                        </span>
                    </p>
                </div>

            </div>

        </div>
        <div class="col-lg-3 col-md-4 col-sm-4 filter-search tabel-views">
            <div ng-repeat="data in ProgramsList" class="filter-section widget ">
                <div class="widget-header">
                    <h5>{{data.AlterName}}</h5>
                </div>
                <div class="join-list">
                    <ul class="list-group">
                        <li ng-repeat="details in FaharesList | filter :{ProgramID:data.ID} ">
                         <a href="javascript:;" ng-click="fehressSelect(details.ID)"><i class="fa fa-link"></i> {{details.Name}}</a>
                        </li>
                    </ul>
                </div>
            </div>

         

        </div>
    </div>
</div>



<script>

    //56528#184217   //289094#310738   //289389#311229
    //292234#321783 <<<   //128177#302510  //326297#464264    //28008#103976   //

            var appview = angular.module('ahkamViewApp', []);
            appview
            .controller('ahkamViewCtrl', function ($http, $scope) {

                var ID = getParameterByName('ID');
                var Fakra = gethashAfterParamter('ID');

                $scope.AhkamList, $scope.FakaratList, $scope.FaharesLinks, $scope.FaharesList, $scope.ProgramsList = '';
                $scope.isSelectedFehress = false;
                $scope.SelectedFehressID = 0;

                $http.get('/Ahkam/HokmData?ID=' + ID + '', {}).then(function (d) {
                    $scope.AhkamList = d.data.AhkamList[0];
                    $scope.FakaratList = d.data.FakaratList;
                    console.log(d.data);



                });


                $http.get('/Ahkam/HokmRelatedDetails?ID=' + ID + '', {}).then(function (d) {
                    $scope.FaharesLinks = d.data.FaharesLinks;
                    $scope.FaharesList = d.data.FaharesList;
                    $scope.ProgramsList = d.data.ProgramsList;
                    console.log(d.data);

                });


             
                //$scope.showRelatedFakra = function (fehressID) {
                    
                //    if ($scope.isSelectedFehress == true) {
                //        alert($scope.SelectedFehressID + '     ' + fehressID)
                //        //alert(fehressID)
                //        if (fehressID == $scope.SelectedFehressID)
                //        {
                //            alert('0000')
                //            return true;
                //         }
                //        else
                //        {
                //            return false;
                //        }
                //    } else {

                //        return true;
                //    }
                //}
                $scope.fehressSelect = function (fehressID) {
                    $scope.isSelectedFehress = true;
                    $scope.SelectedFehressID = fehressID;
                   // console.log(fehressID)
                }

                $scope.fehressRelate = function (fakraID) {
                    var result = [];
                    var colored = [];
       
                    if ($scope.FaharesList && $scope.FaharesLinks) {
                            for (var i = 0; i < $scope.FaharesLinks.length; i++) {
                                if ($scope.FaharesLinks[i].ChildItemID === fakraID) {
                                    result.push($scope.FaharesList[i]);
                                    if ($scope.FaharesLinks[i].StartColor && $scope.FaharesLinks[i].EndColor)
                                    {
                                        var startcolor = $scope.FaharesLinks[i].StartColor;
                                        var endcolor = $scope.FaharesLinks[i].EndColor;
                                        var coloredObj = fakraID + '.' + startcolor + '.' + endcolor
     
                                        
                                        var objtext = $('div[data-fakraid="' + fakraID + '"] .fakra-text').text;
                                        $('div[data-fakraid="' + fakraID + '"] .fakra-text')
                                        .each(function (edx) {
                                            //colored.push(coloredObj);
                                            //if (colored.indexOf(coloredObj) == -1) {
                                            //    colored.push(coloredObj);
                                            var txt = $(this).text().trim();
                                            //console.log(txt.substring(0, startcolor))
                                                html = txt.substring(0, startcolor) +
                                                    //'<span style="color:red;">' + txt.substring(startcolor, endcolor) + '</span> ' +
                                                    '<span style="color:red;">' + txt.substring(startcolor, endcolor) + '</span> ' +
                                                txt.substring(endcolor, txt.length);
                                                $(this).html(html);
                                            //}
                                        });
                                  
                                    }
                                }
                            }
                    }
                    return result ;
                }


            });


            function getParameterByName(name) {
                name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
                var regexS = "[\\?&]" + name + "=([^&#]*)";

                var regex = new RegExp(regexS);
                var results = regex.exec(window.location.href);
                if (results == null)
                    return "";
                else
                    return decodeURIComponent(results[1].replace(/\+/g, " "));
            }

            function gethashAfterParamter(name) {
                var hash = '';
                var parm = '';
                name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
                var regexS = "[\\?&]" + name + "=([^&]*)";

                var regex = new RegExp(regexS);
                var results = regex.exec(window.location.href);
                if (results == null) {
                    return "";
                }
                else {
                    parm = decodeURIComponent(results[1].replace(/\+/g, " "));
                }
                var hash = parm.split('#');
                return hash[1];
            }
   
</script>