<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <h4>Layout</h4>
   </header>
    <div>
        @RenderBody()
    </div>
</body>
</html>
