<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
    <meta charset="utf-8">
    <meta content="التشريعات كما نشرت بالوقائع المصرية والجريدة الرسمية، تحتوي على بيانات وصور جميع درجات التشريع ونصوص التشريعات الرئيسيةوتشريعات جميع الدول العرببة" name="description">
    <meta content="Tashreaat , Ahkam , تشريعات مصر , تشريعات الإمارات , تشريعات الدول العربية , التشريعات العربية , iglc, تشريعات, أحكام مصرية" name="keywords">
    <title>@ViewBag.Title</title>
    <link type="image/x-icon" href="/content/images/" rel="shortcut icon">
    <link rel="stylesheet" href="/content/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/content/lib/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="/content/lib/bootstrap/dist/css/bootstrap.rtl.min.css">
    <script src="/content/lib/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="/content/lib/bootstrap/dist/js/bootstrap.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="/content/lib/Font-Awesome/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="/content/lib/Slider/ninja-slider.css">
    <script src="/content/lib/slider/ninja-slider.js" type="text/javascript"></script>
    <script src="/content/lib/slider/jquery.cslide.js" type="text/javascript"></script>
    <script src="/content/lib/slider/jquery.mCustomScrollbar.js"></script>
    <link rel="stylesheet" type="text/css" href="/content/lib/slider/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" type="text/css" href="/content/lib/slider/scroll.css">
    <link rel="stylesheet" type="text/css" href="~/content/lib/bootstrap/dist/css/hover-min.css">
    <script src="~/content/js/script.js"></script>
    <link rel="stylesheet" type="text/css" href="/content/css/main.css">
    <link rel="stylesheet" type="text/css" href="/content/css/responsive.css">
 
 
  
</head>
<body>
    @Html.Partial("_Header")

    <div>
        @RenderBody()
    </div>


    <footer>
        <div class="container">
            <div class="col-lg-5 col-md-5 links-footer">
                <h4><i class="fa fa-link fa-2x"></i> روابط قوانين الشرق</h4>
                <ul>
                    <li class="col-lg-6 col-md-6 col-sm-6"><a href="#"><i class="fa fa-angle-left fa-2x"></i> من نحن</a></li>
                    <li class="col-lg-6 col-md-6 col-sm-6"><a href="#"><i class="fa fa-angle-left fa-2x"></i> عملائنا</a></li>
                    <li class="col-lg-6 col-md-6 col-sm-6"><a href="#"><i class="fa fa-angle-left fa-2x"></i> إتصل بنا</a></li>
                    <li class="col-lg-6 col-md-6 col-sm-6"><a href="#"><i class="fa fa-angle-left fa-2x"></i> وكلاؤنا</a></li>
                    <li class="col-lg-6 col-md-6 col-sm-6"><a href="#"><i class="fa fa-angle-left fa-2x"></i> إشترك الأن</a></li>
                    <li class="col-lg-6 col-md-6 col-sm-6"><a href="#"><i class="fa fa-angle-left fa-2x"></i> إتفاقية الإستخدام </a></li>
                    <li class="col-lg-6 col-md-6 col-sm-6"><a href="#"><i class="fa fa-angle-left fa-2x"></i> النسخة السابقة للموقع </a></li>
                    <li class="col-lg-6 col-md-6 col-sm-6"><a href="#"><i class="fa fa-angle-left fa-2x"></i> بيان الخصوصية </a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-4 links-footer">
                <h4><i class="fa fa-envelope fa-2x"></i> راسلنا على</h4>
                <p>خدمة العملاء  : <span> info@eastlaws.com </span></p>
                <p>المبيعات        : <span> sales@eastlaws.com</span></p>
            </div>
            <div class="col-lg-3 col-md-3 links-footer">
                <h4><i class="fa fa-tty fa-2x"></i> تواصل معنا</h4>
                <p>اشترك فى النشرة البريدية</p>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="إدخل بريدك الإلكترونى ">
                    <span class="input-group-btn">
                        <button class="btn btn-success news-butt" type="button"><i class="fa fa-envelope "></i></button>
                    </span>
                </div>
                <div class="">
                    <ul class="social_networks clearfix">
                        <li class="twitter"><a target="_blank" href="#"><i class="fa fa-twitter fa-2x"></i></a></li>
                        <li class="facebook"><a target="_blank" href="#"><i class="fa fa-facebook fa-2x"></i></a></li>
                        <li class="tube"><a target="_blank" href="#"><i class="fa fa-youtube fa-2x"></i></a></li>
                        <li class="rss"><a target="_blank" href="#"><i class="fa fa-google-plus fa-2x"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="copyright">
            <p class="text-center">© حقوق النشر محفوظة لشبكة قوانين الشرق 2016</p>
        </div>
    </footer>
    <script>
$(document).ready(function(){
	$("#slide-slides").cslide();
    $("#cslide-slides").cslide();

	   $(".manzoma-list").mCustomScrollbar({
        setHeight: "355px",
        theme: "3d",
        scrollButtons: "1"

    });
});
    </script>
</body>
</html>
