
@{
    Layout = null;
}

<nav class="navbar navbar-inverse sidebar" role="navigation">


    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <a class="navbar-brand" href="#">منظومات قوانين الشرق</a>
    </div>
   
    <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
        <div class="scroll-menu">
            <div class="overright-menu">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#"><span class="object van move-right fa fa-bank fa-2x"></span>التشريعات العربية </a>
                        <!--<ul>
                            <li> <a href="#"><span class="object van move-right  fa fa-legal fa-2x"></span>أحكام المحاكم العربية</a> </li>
                            <li> <a href="#"><span class="object van move-right  fa fa-leanpub fa-2x"></span>إدارات الفتوى والتشريع</a> </li>
                        </ul>-->

                    </li>
                    <li> <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="object van move-right  fa fa-legal fa-2x"></span>أحكام المحاكم العربية <span class="caret"></span></a>
                        <ul class="dropdown-menu forAnimate" role="menu">
                            <li><a href="#">فهارس القضايا</a></li>
                            <li><a href="#">الفهرس العام</a></li>
                            <li><a href="#"> بحث بالدفوع </a></li>
                            @*<li class="divider"></li>*@
                            <li><a href="#"> بحث بالمناعي </a></li>
                         
                        </ul>
                    
                     </li>
                    <li> <a href="#"><span class="object van move-right  fa fa-leanpub fa-2x"></span>إدارات الفتوى والتشريع</a> </li>
                    <li> <a href="#"><span class="object van move-right  fa fa-flag  fa-2x"></span>الإتفاقيات العربية والدولية</a> </li>
                    <li> <a href="#"><span class="object van move-right  fa fa-book fa-2x"></span>القضاء فى الإسلام</a> </li>
                    <li> <a href="#"><span class="object van move-right  fa fa-globe fa-2x"></span>دساتير الدول</a> </li>
                    <li> <a href="#"><span class="object van move-right  fa fa-mortar-board  fa-2x"></span>حوكمة الشركات</a> </li>
                    <li> <a href="#"><span class="object van move-right  fa fa-history fa-2x"></span>حوكمة العقود</a> </li>
                    <li> <a href="#"><span class="object van move-right  fa fa-history fa-2x"></span>التحكيم العربي والدولي</a> </li>
                    <li> <a href="#"><span class="object van move-right  fa fa-history fa-2x"></span>المواعيد والمدد القانونية</a> </li>
                    <li> <a href="#"><span class="object van move-right  fa fa-sitemap fa-2x"></span>فحص وتقييم القضايا المدنية</a> </li>
                    <li> <a href="#"><span class="object van move-right  fa fa-history fa-2x"></span>فحص وتقييم القضايا الجنائية</a> </li>
                    <li> <a href="#"><span class="object van move-right  fa fa-book fa-2x"></span>فحص وتقييم القضايا الدستورية</a> </li>
                    <li> <a href="#"><span class="object van move-right  fa fa-book fa-2x"></span>المواريث</a> </li>
                    <li> <a href="#"><span class="object van move-right  fa fa-book fa-2x"></span>الكتاب الإلكتروني</a> </li>
                    <li> <a href="#"><span class="object van move-right  fa fa-book fa-2x"></span>فحص وإدراة أوراق الدعوى</a> </li>
                    <li> <a href="#"><span class="object van move-right  fa fa-book fa-2x"></span>الرياضة والقانون</a> </li>
                    <li> <a href="#"><span class="object van move-right  fa fa-book fa-2x"></span>المصطلحات القانونية</a> </li>
                    <li> <a href="#"><span class="object van move-right  fa fa-book fa-2x"></span>القاموس القانوني</a> </li>
                </ul>
            </div>
        </div>
    </div>
</nav>