@media only screen and (max-width: 1023px){
	.groups-eastlaws .col-lg-3,.groups-eastlaws.col-md-3{ width:33.33%; float:right;}

}

@media only screen and (min-width: 1440px){

}
@media only screen  and (min-device-width: 480px) and (max-width: 720px) {

	.groups-eastlaws .col-lg-3,.groups-eastlaws.col-md-3{ width:33.33%; float:right;}
	
}

    @media screen and (min-width: 1024px) {

    #myModal .modal-dialog  {width:1170px;}

    }

@media (max-width: 767px) {
	.carousel-inner .active.left { left: -100%; }
	.carousel-inner .next        { left:  100%; }
	.carousel-inner .prev		 { left: -100%; }
	.active > div { display:none; }
	.active > div:first-child { display:block; }
  
}
@media (min-width: 767px) and (max-width: 992px ) {
	.carousel-inner .active.left { left: -50%; }
	.carousel-inner .next        { left:  50%; }
	.carousel-inner .prev		 { left: -50%; }
	.active > div { display:none; }
	.active > div:first-child { display:block; }
	.active > div:first-child + div { display:block; } 
  
   
}
@media (min-width: 992px ) {
	.carousel-inner .active.left { left: -25%; }
	.carousel-inner .next        { left:  25%; }
	.carousel-inner .prev		 { left: -25%; }	
   
}

/*small/medium side display*/
@media (min-width: 768px) {
.inside nav.sidebar .van{ left:0px; right:auto;}
.inside nav.sidebar:hover  .move-right{transform:translate(0px, 0px); left:auto; right:0px;}
/*Allow main to be next to Nav*/
.main{width: calc(100% - 40px); /*keeps 100% minus nav size*/margin-right: 40px;float: left;}
/*lets nav bar to be showed on mouseover*/
nav.sidebar:hover + .main{margin-right: 215px;}
/*Center Brand*/
nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {margin-right: 0px;}
/*Center Icons*/
nav.sidebar a{/*padding-right: 13px;*/}
/*adds border top to first nav box */
nav.sidebar .navbar-nav > li:first-child{border-top: 1px #e5e5e5 solid;}
/*adds border to bottom nav boxes*/
nav.sidebar .navbar-nav > li{border-bottom: 0px #e5e5e5 solid;}
/* Colors/style dropdown box*/
nav.sidebar .navbar-nav .open .dropdown-menu {position: static;float: none;width: auto;margin-top: 0;background-color: transparent;border: 0;-webkit-box-shadow: none;box-shadow: none;}
/*allows nav box to use 100% width*/
nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{padding: 0 0px 0 0px;}
/*colors dropdown box text */
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {color: #777;}
/*gives sidebar width/height*/
nav.sidebar{width: 215px;/*height: 100%;*/margin-right: -183px;float: right;z-index: 8000;position:absolute;margin-bottom: 0px;}
.hide-sidebar{margin-right: -183px!important;}
.filter-search nav{width:95%; border-radius: 0px;margin-left: -90%;float: left;z-index: 8000;position:absolute;margin-bottom: 0px;}
nav.sidebar li {width: 100%;}
/* Move nav to full on mouse over*/
nav.sidebar:hover{margin-right: 0px;}		
.inside nav.sidebar .move-right { transform: translate(0,0);-webkit-transform: translate(0x,0);-o-transform: translate(0,0); /** Opera **/-moz-transform: translate(0,0);}
 /*for hiden things when navbar hidden*/
.forAnimate{opacity: 0;}}
/* .....NavBar: Fully showing nav bar..... */
@media (min-width: 1200px) {
.inside nav.sidebar .van{ left:auto; right:0px;}
.inside nav.sidebar:hover  .move-right{transform:translate(0px, 0px); left:auto; right:0px;}
     
		/*Allow main to be next to Nav*/
		.main{
			width: calc(100% - 215px); /*keeps 100% minus nav size*/
			margin-right: 215px;
            min-height:855px;
		}

		/*Show all nav*/
		nav.sidebar{
			margin-right: 0px;
			float: right;
		}
		/*Show hidden items on nav*/
		nav.sidebar .forAnimate{
			opacity: 1;
		}

	}



/* ----------- iPad mini ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* ----------- iPad 1 and 2 ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* ----------- iPad 3 and 4 ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

