.tree, .tree ul {margin:0;padding:0;list-style:none}
.tree ul {margin-right:1em;position:relative}
.tree ul ul {margin-right:.5em}
.tree ul:before {content:""; display:block; width:0;position:absolute;top:0;bottom:0;right:0;border-left:1px solid #D9B672;}
.tree li {margin:0;padding:0 1em;line-height:2em;font-weight:700;position:relative}
.tree ul li:before {content:"";display:block;width:10px;height:0;border-top:1px solid #D9B672;margin-top:-1px;position:absolute;top:1em;right:0}
.tree ul li:last-child:before {background:#fff;height:auto;top:1em;bottom:0}
.indicator { margin-right:5px;}
.tree li a {text-decoration: none; color:#675650;transition:all ease 0.5s;font:0.69em droid arabic kufi;}
.tree li a:hover{  color: #D9B672; }
.tree li button, .tree li button:active, .tree li button:focus {text-decoration: none;color: #D9B672; border:none;background:transparent;margin:0px;padding:0px; outline: 0;}
.tree i{ color:#675650}


/*Right tabs*/
.inner-tab{ padding:0px;}
.inner-tab .select-option{ /*background-color:#675650;*/}
.inner-tab .tabs-right > .nav-tabs {border-bottom: 0;}
.card .inner-tab .tab-content{padding:0px;border:2px solid #FFF;}
.tabs-right .nav-tabs > li > a{ box-shadow:0 0 0;}
.inner-tab .nav-tabs > li.active > a::after, .inner-tab .nav-tabs > li:hover > a::after{ height:100%; box-shadow:none; display:none; }
.inner-tab .tab-content > .active { display: block; /*margin-right:120px;*/}
.inner-tab .tabs-below > .nav-tabs {border-top: 1px solid #ddd;}
.inner-tab .tabs-below > .nav-tabs > li {margin-top: -1px;margin-bottom: 0;}
.inner-tab .tabs-below > .nav-tabs > .active > a{border-color: transparent #ddd #ddd #ddd;background-color:#675650; color:#FFF;}
.inner-tab .tabs-right > .nav-tabs > li {float: none;}
.inner-tab .tabs-right > .nav-tabs > li > a {min-width: 74px;margin-right: 0;margin-bottom: 3px; background-color:#e4e4e4;}
.inner-tab .tabs-below > .nav-tabs, .inner-tab .tabs-right > .nav-tabs {border-bottom: 0 none;}
.inner-tab .tab-content > .tab-pane {display: none;padding:0px; height: 186px; overflow-y: auto; }
.inner-tab .tab-content > .active{display: block; border:2px solid #675650;}
.inner-tab .tabs-below > .nav-tabs > li > a:hover, .inner-tab .tabs-below > .nav-tabs > li > a:focus {border-bottom-color: transparent;border-top-color: #ddd;}
.inner-tab .tabs-below > .nav-tabs > .active > a, .inner-tab tabs-below > .nav-tabs > .active > a:hover, .inner-tab .tabs-below > .nav-tabs > .active > a:focus {border-color: transparent #ddd #ddd;}
.inner-tab .tabs-right > .nav-tabs > li {float: none; margin:0px;}
.inner-tab  .tabs-right > .nav-tabs > li > a { margin-bottom: 3px; margin-right: 0; min-width: 74px;}
.inner-tab .tabs-right > .nav-tabs {border-left:0px solid #ddd; float: right; }
.inner-tab .tabs-right > .nav-tabs > li > a {border-radius: 0 0 0 0;margin-left: 0px;}
.inner-tab .tabs-right > .nav-tabs > li > a:hover, .inner-tab .tabs-right > .nav-tabs > li > a:focus {/*border-color: #eeeeee #eeeeee #eeeeee #dddddd;*/}
.inner-tab .tabs-right > .nav-tabs .active > a, .inner-tab .tabs-right > .nav-tabs .active > a:hover, .tabs-right > .nav-tabs .active > a:focus { /*border-color: #ddd #ddd #ddd transparent;*/ background-color:#675650;}

/*Tab inside*/
