
<div class="main">
    <div class="col-lg-12">
        <!-- Nav tabs -->
        <div class="card">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab"> بحث عام</a></li>

            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="home">
                    <div class="search-form form-horizontal">
                        <div class="col-lg-10 col-md-12">
                            <div class="search-form form-horizontal">
                                <div class="form-group radio_buttons optional ">
                                    <label class="radio_buttons  col-sm-3  "> </label>
                                    <div class="col-sm-9">
                                        <span class="">
                                            <label for="user_horizontal_sex_male checkbox-inline">
                                                <input type="radio" class="radio_buttons " id="" name="" value="">
                                                مطابق للجملة
                                            </label>
                                        </span>&nbsp;
                                        <label for="user_horizontal_sex_male checkbox-inline">
                                            <input type="radio" class="radio_buttons " id="" name="" value="">
                                            مطابق لجميع الكلمات
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group  ">
                                    <label for="horizontal_search" class="col-lg-3 col-sm-3 control-label bg-color title">
                                        <!--<abbr title="required">*</abbr>-->
                                        بحث عام :
                                    </label>
                                    <div class="col-sm-9 search">
                                        <div class="input-group">
                                            <input id="txt_search" type="text" placeholder="إبحث في أكثر من 15,341 مليون معلومة قانونية" class="form-control">
                                            <span class="input-group-btn">
                                                <button id="btn_search" type="button" class="btn btn-success">إبحث</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="spacer" />
                    </div>
                </div>

            </div>
        </div>
        <div class="result-search">
            <p class="total-chart"> <i class="fa fa-line-chart "></i> وجد اجمالي [68] تشريع </p>
            <div id="searchResult" class="col-lg-9 col-md-8  col-sm-9 list-content">
                

@*@foreach (var item in Model)
{
    <div class="result-block">
        <h4><i class="fa fa-bank fa-2x icon"></i>@item.serviceID</h4>
        <div class="row-search">
            <h3><img src="images/eg.gif" width="16" height="11" alt="" />@item.datatext</h3>
            <p> <a href="#"> بشأن اعتبار المشروع رقم <span class="hightlight"></span> @item.countryID</a> </p>
            <p><span class="title-define">المادة 1 :</span> <a href="#"> @item.countryName <span class="hightlight">1111</span> لسنة 1974 المشار إليه وذلك فيما لايتعارض مع أحكام القانون رقم 97 لسنة 1983 المشار إليه.</a></p>
            <p class="signature"><i class="fa fa-pencil-square"></i> توقيع :<span> حسن زكي - وزير الأشغال</span></p>
            <div class="nav-control">
                <ul>
                    <li><a href="#"><i class="fa fa-desktop"></i> قراءة النص</a></li>
                    <li><a href="#"><i class="fa fa-camera"></i> صورة التشريع</a></li>
                    <li><a href="#"><i class="fa fa-print"></i> طباعة </a></li>
                </ul>
            </div>
            <hr class="spacer" />
        </div>
    </div>
}*@
                <!-- Content Here -->





                <div class="paging-search text-center">
                    <ul class="pagination">
                        <li><a href="#">&laquo;</a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li class="disabled"><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">&raquo;</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-3 filter-search">

                <div class="">

                    <h5><i class="fa fa-server"></i> تصفية النتائج </h5>
                    <div class="form-group">
                        <label class="col-lg-12 col-sm-12 control-label bg-color title" for=" horizontal_search"> </label>
                        <div class="col-sm-12 search">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="بحث فى عوامل التصفية">
                                <span class="input-group-btn">
                                    <button class="btn btn-success" type="button">إبحث</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div id="" class="filter-section">

                    </div>
                    <div id="" class="filter-section">

                    </div>


                </div>
            </div>

            <hr class="spacer" />
        </div>
        <hr class="spacer" />
    </div>
</div>
<table>
    @foreach (var item in Model)
    {
        <tr>
         <td></td>
        </tr>
    }
</table>


<script>
    (function () {
        $('#btn_search').click(function () {
            $('#searchResult').html('Looooooding');
            $.get('/GeneralSearch/SearchResult', { 'q': $('#txt_search').val() }, function (data) {
             
                    $('#searchResult').html(data)
                
            });
        })
    })()
</script>