@{Layout = "~/Views/Shared/_LayoutInner.cshtml";}
<div class="title-module">
    <h1><span class="main-title"> محرك البحث القانوني الأول في العالم العربي</span></h1>
    <p>إبحث في أكثر من 15,182مليون معلومة قانونية</p>
</div>
<hr class="spacer" />
@Html.Partial("_ManzomatLinks")

<div class="main">
    <div class="col-lg-12">
        <!-- Nav tabs -->
        <div class="card">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab"> بحث عام</a></li>
           
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="home">
                    <div class="search-form form-horizontal">
                        <div class="col-lg-10 col-md-12">
                            <div class="search-form form-horizontal">
                                <div class="form-group radio_buttons optional ">
                                    <label class="radio_buttons  col-sm-3  "> </label>
                                    <div class="col-sm-9">
                                        <span class="">
                                            <label for="user_horizontal_sex_male checkbox-inline">
                                                <input type="radio" class="radio_buttons " id="" name="" value="">
                                                مطابق للجملة
                                            </label>
                                        </span>&nbsp;
                                        <label for="user_horizontal_sex_male checkbox-inline">
                                            <input type="radio" class="radio_buttons " id="" name="" value="">
                                            مطابق لجميع الكلمات
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group  ">
                                    <label for=" horizontal_search" class="col-lg-3 col-sm-3 control-label bg-color title">
                                        <!--<abbr title="required">*</abbr>-->
                                        بحث عام :
                                    </label>
                                    <div class="col-sm-9 search">
                                        <div class="input-group">
                                            <input type="text" placeholder="إبحث في أكثر من 15,341 مليون معلومة قانونية" class="form-control">
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-success">إبحث</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="spacer" />
                    </div>
                </div>
             
            </div>
        </div>
        <div class="result-search">
            <p class="total-chart"> <i class="fa fa-line-chart "></i> وجد اجمالي [68] تشريع </p>
            <div class="col-lg-9 col-md-8  col-sm-9 list-content">
                <!-- Filter Element -->
                <div class="filter-element">
                    <ul>
                        <li id="" class="">
                            <a id="" href="javascript:;" class="">
                                النقض المدني  <span class="number">(3692)</span>
                                <i class="fa fa-close"></i>
                            </a>
                        </li>
                        <li id="" class="">
                            <a id="" href="javascript:;" class="">
                                ليس له تطبيقات أحكام <span class="number">(92)</span>
                                <i class="fa fa-close"></i>
                            </a>
                        </li>
                    </ul>

                </div>
                <hr class="spacer" />
                <!-- Content Here -->
                <div class="result-block">
                    <h4><i class="fa fa-bank fa-2x icon"></i> تشريع  10336 لسنة 1961 </h4>
                    <div class="row-search">
                        <h3><img src="images/eg.gif" width="16" height="11" alt="" /> جمهورية مصر العربية جمهورية مصر العربية - قرار وزير الأشغال رقم 11111 لسنة 1963 نشر فى الوقائع المصرية بتاريخ 21-11-</h3>
                        <p> <a href="#"> بشأن اعتبار المشروع رقم <span class="hightlight">1111</span> ري من أعمال المنفعة العامة . </a> </p>
                        <p><span class="title-define">المادة 1 :</span> <a href="#"> يستمر العمل بأحكام قرار رئيس الجمهورية رقم <span class="hightlight">1111</span> لسنة 1974 المشار إليه وذلك فيما لايتعارض مع أحكام القانون رقم 97 لسنة 1983 المشار إليه.</a></p>
                        <p class="signature"><i class="fa fa-pencil-square"></i> توقيع :<span> حسن زكي - وزير الأشغال</span></p>
                        <div class="nav-control">
                            <ul>
                                <li><a href="#"><i class="fa fa-desktop"></i> قراءة النص</a></li>
                                <li><a href="#"><i class="fa fa-camera"></i> صورة التشريع</a></li>
                                <li><a href="#"><i class="fa fa-print"></i> طباعة </a></li>
                            </ul>
                        </div>
                        <hr class="spacer" />
                    </div>
                </div>
                <div class="result-block">
                    <h4><i class="fa fa-bank fa-2x icon"></i> تشريع  10336 لسنة 1961 </h4>
                    <div class="row-search">
                        <h3><img src="images/eg.gif" width="16" height="11" alt="" /> جمهورية مصر العربية جمهورية مصر العربية - قرار وزير الأشغال رقم 11111 لسنة 1963 نشر فى الوقائع المصرية بتاريخ 21-11-</h3>
                        <p> <a href="#"> بشأن اعتبار المشروع رقم <span class="hightlight">1111</span> ري من أعمال المنفعة العامة . </a> </p>
                        <p><span class="title-define">المادة 1 :</span> <a href="#"> يستمر العمل بأحكام قرار رئيس الجمهورية رقم <span class="hightlight">1111</span> لسنة 1974 المشار إليه وذلك فيما لايتعارض مع أحكام القانون رقم 97 لسنة 1983 المشار إليه.</a></p>
                        <p class="signature"><i class="fa fa-pencil-square"></i> توقيع :<span> حسن زكي - وزير الأشغال</span></p>
                        <div class="nav-control">
                            <ul>
                                <li><a href="#"><i class="fa fa-desktop"></i> قراءة النص</a></li>
                                <li><a href="#"><i class="fa fa-camera"></i> صورة التشريع</a></li>
                                <li><a href="#"><i class="fa fa-print"></i> طباعة </a></li>
                            </ul>
                        </div>
                        <hr class="spacer" />
                    </div>
                </div>
                <div class="result-block">
                    <h4><i class="fa fa-bank fa-2x icon"></i> تشريع  10336 لسنة 1961 </h4>
                    <div class="row-search">
                        <h3><img src="images/eg.gif" width="16" height="11" alt="" /> جمهورية مصر العربية جمهورية مصر العربية - قرار وزير الأشغال رقم 11111 لسنة 1963 نشر فى الوقائع المصرية بتاريخ 21-11-</h3>
                        <p> <a href="#"> بشأن اعتبار المشروع رقم <span class="hightlight">1111</span> ري من أعمال المنفعة العامة . </a> </p>
                        <p><span class="title-define">المادة 1 :</span> <a href="#"> يستمر العمل بأحكام قرار رئيس الجمهورية رقم <span class="hightlight">1111</span> لسنة 1974 المشار إليه وذلك فيما لايتعارض مع أحكام القانون رقم 97 لسنة 1983 المشار إليه.</a></p>
                        <p class="signature"><i class="fa fa-pencil-square"></i> توقيع :<span> حسن زكي - وزير الأشغال</span></p>
                        <div class="nav-control">
                            <ul>
                                <li><a href="#"><i class="fa fa-desktop"></i> قراءة النص</a></li>
                                <li><a href="#"><i class="fa fa-camera"></i> صورة التشريع</a></li>
                                <li><a href="#"><i class="fa fa-print"></i> طباعة </a></li>
                            </ul>
                        </div>
                        <hr class="spacer" />
                    </div>
                </div>
                <div class="result-block">
                    <h4><i class="fa fa-bank fa-2x icon"></i> تشريع  10336 لسنة 1961 </h4>
                    <div class="row-search">
                        <h3><img src="images/eg.gif" width="16" height="11" alt="" /> جمهورية مصر العربية جمهورية مصر العربية - قرار وزير الأشغال رقم 11111 لسنة 1963 نشر فى الوقائع المصرية بتاريخ 21-11-</h3>
                        <p> <a href="#"> بشأن اعتبار المشروع رقم <span class="hightlight">1111</span> ري من أعمال المنفعة العامة . </a> </p>
                        <p><span class="title-define">المادة 1 :</span> <a href="#"> يستمر العمل بأحكام قرار رئيس الجمهورية رقم <span class="hightlight">1111</span> لسنة 1974 المشار إليه وذلك فيما لايتعارض مع أحكام القانون رقم 97 لسنة 1983 المشار إليه.</a></p>
                        <p class="signature"><i class="fa fa-pencil-square"></i> توقيع :<span> حسن زكي - وزير الأشغال</span></p>
                        <div class="nav-control">
                            <ul>
                                <li><a href="#"><i class="fa fa-desktop"></i> قراءة النص</a></li>
                                <li><a href="#"><i class="fa fa-camera"></i> صورة التشريع</a></li>
                                <li><a href="#"><i class="fa fa-print"></i> طباعة </a></li>
                            </ul>
                        </div>
                        <hr class="spacer" />
                    </div>
                </div>
                <div class="paging-search text-center">
                    <ul class="pagination">
                        <li><a href="#">&laquo;</a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li class="disabled"><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">&raquo;</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-3 filter-search">
                
                <div class="">

                    <h5><i class="fa fa-server"></i> تصفية النتائج </h5>
                    <div class="form-group">
                        <label class="col-lg-12 col-sm-12 control-label bg-color title" for=" horizontal_search"> </label>
                        <div class="col-sm-12 search">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="بحث فى عوامل التصفية">
                                <span class="input-group-btn">
                                    <button class="btn btn-success" type="button">إبحث</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <hr class="spacer"/>
                    <div class="tabbable tabs-left">
                        <ul class="nav nav-tabs">
                            <li><a href="#a" data-toggle="tab">المنظومة</a></li>
                            <li class="active"><a href="#b" data-toggle="tab">الدولة</a></li>
                            <li><a href="#c" data-toggle="tab">السنة</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="a">
                                المنظومة
                            </div>
                            <div class="tab-pane " id="b">
                               <div id="" class="filter-section">
                                   <div class="" >
                                       <ul class="list-group checked-list-box">
                                           <li class="list-group-item" > جمهورية مصر العربية </li>
                                           <li class="list-group-item" data-checked="true"> الجمهورية اللبنانية </li>
                                           <li class="list-group-item"> الجمهورية اليمنية</li>
                                           <li class="list-group-item">دولة الإمارات العربية المتحدة</li>
                                           <li class="list-group-item">إمارة أبوظبي</li>
                                           <li class="list-group-item">إمارة رأس الخيمة</li>
                                           <li class="list-group-item">إمارة عجمان</li>
                                           <li class="list-group-item">إمارة الشارقة</li>
                                           <li class="list-group-item">إمارة الفجيرة</li>
                                           <li class="list-group-item">حكومة دبي</li>
                                           <li class="list-group-item">دولة الكويت</li>
                                           <li class="list-group-item">مملكة البحرين</li>
                                           <li class="list-group-item">دولة قطر</li>
                                           <li class="list-group-item">المملكة العربية السعودية</li>
                                           <li class="list-group-item">سلطنة عمان</li>
                                           <li class="list-group-item">دولة ليبيا</li>
                                           <li class="list-group-item">الجمهورية التونسية</li>
                                           <li class="list-group-item">المملكة المغربية</li>
                                           <li class="list-group-item">جمهورية السودان</li>
                                           <li class="list-group-item">الجمهورية العربية السورية</li>
                                           <li class="list-group-item">جمهورية العراق</li>
                                           <li class="list-group-item">دولة فلسطين</li>
                                           <li class="list-group-item">الجمهورية الجزائرية</li>
                                           <li class="list-group-item">الجمهورية اللبنانية</li>
                                           <li class="list-group-item">إمارة أم القيوين</li>
                                          <li class="list-group-item">
                                           
                                       </ul>
                                   </div>
</div>
                            </div>
                            <div class="tab-pane" id="c">
                                السنة
                            </div>
                        </div>
                    </div>
                    <!-- /tabs -->
                   
                </div>

                   


            </div>

            <hr class="spacer" />
        </div>
        <hr class="spacer" />
    </div>
</div>


